:root {
  @each $alias, $color in $colors {
    --color-#{$alias}: #{$color};
  }
}

@each $alias, $color in $colors {
  .u-background-color-#{$alias} {
    background-color: $color !important;
  }

  .u-color-#{$alias} {
    color: $color !important;
  }
}

.u-background-color-gradient {
  background-color: map-get($colors, 'orange-red');
  background-image: linear-gradient(to top left, transparent #{percentage(1/3)}, #{map-get($colors, 'pink')});
}
