:root {
  @each $alias, $unit in $spacing-units {
    --s#{$alias}: #{$unit};
  }
}

@each $alias, $unit in $spacing-units {
  .u-margin-top-#{$alias} {
    margin-top: $unit !important;
  }

  .u-margin-top-minus-#{$alias} {
    margin-top: ($unit * -1) !important;
  }

  .u-padding-bottom-#{$alias} {
    padding-bottom: $unit !important;
  }

  .u-padding-top-#{$alias} {
    padding-top: $unit !important;
  }
}

/*.c-panel*/.u-overflow-top {
  border-top: 1px solid transparent;
  margin-top: map-get($spacing-units, '9') !important;
  padding-top: 0 !important;

  > *:first-child {
    margin-top: (map-get($spacing-units, '9') * -1) !important;
  }
}
