.answer {
  font-size: 85%;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.expand-button {
  margin-top: 8px;
  font-size: 80%;
  opacity: 0.7;
  cursor: pointer;
}

.hidden {
  display: none;
}

.c-tag-list__item {
  margin-right: 4px;
}

.question-link {
  visibility: hidden;
  margin-left: 12px;
  vertical-align: text-bottom;
}

.question-title:hover {
  .question-link {
    visibility: visible;
    opacity: 0.6;
  }

  .question-link:hover {
    opacity: 1;
  }
}

.keep-newlines {
  white-space: pre-wrap;
}
