<div class="feature-extended">
  <div class="feature-extended-body">
    <h3 class="question-title mt-0" *ngIf="!answerOnly">
      {{ question.question }}
      <a [routerLink]="(lang === 'nl' ? '/vraag/' : '/question/') + question.slug" class="question-link"><mat-icon>link</mat-icon></a>
    </h3>
    <div class="darker">
      {{ question.summary }}
      <div class="expand-button" *ngIf="question.answer && !expanded" (click)="expand()">
        {{ 'Show more' | translate }} <mat-icon class="inline">expand_more</mat-icon>
      </div>
    </div>
    <div class="answer" [class.hidden]="!expanded">
      {{ question.answer }}
      <div class="expand-button" *ngIf="expanded" (click)="expand()">
        {{ 'Show less' | translate }} <mat-icon class="inline">expand_less</mat-icon>
      </div>
    </div>
    <ul class="question-tags"><li *ngFor="let tag of question.tags">{{ tag }}</li></ul>
  </div>
</div>
