<section class="features-extended section">
  <div class="container">
    <div class="features-extended-inner section-inner">
      <div class="features-extended-header text-center">
        <div class="container-sm">
          <h2 class="section-title mt-0">{{ 'Frequently Asked Questions' | translate }} </h2>
          <p class="section-paragraph">
            Je zit vast met veel vragen; zowel over de ernst van de ecologische uitdagingen waar we voor staan;
            over waarom politici er niet in slagen afdoende maatregelen te nemen; als over de burgerassemblee.
          </p>
          <p>
            <mat-form-field floatLabel="never" style="width: 300px; text-align: center;">
              <input matInput #question [placeholder]="questionPlaceholder" [(ngModel)]="filter" (keyup)="filterQuestions()" />
            </mat-form-field>
          </p>
        </div>
      </div>

      <ng-container *ngIf="filter">
        <app-question *ngFor="let question of filteredQuestions" [question]="question"></app-question>

        <p *ngIf="filter && filter.length > 2 && filteredQuestions.length == 0">
          Geen vragen gevonden met deze filter. <a [routerLink]="" (click)="clearFilter()">Toon terug alle vragen</a>
        </p>
      </ng-container>

      <ng-container *ngIf="!filter">
        <ul class="questionsToC">
          <li *ngFor="let question of allQuestions"><a routerLink="/vraag" [fragment]="question.slug">{{ question.tags[0] }}:
              {{ question.question }}</a></li>
        </ul>

        <app-question [id]="question.slug" *ngFor="let question of allQuestions" [question]="question"></app-question>
      </ng-container>

      <div class="features-extended-header text-center">
        <div class="container-sm">
          <h2>Staat jouw vraag er niet tussen?</h2>
          <p class="section-paragraph" style="margin-top: 16px">
            <br /><a href="#">We beantwoorden hem graag voor jou en nemen hem hier op!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
