<section class="features-extended section">
  <div class="container">
    <div class="features-extended-inner section-inner">
      <div class="features-extended-header text-center">
        <div class="container-sm">
          <h2 class="section-title mt-0">Antwoorden op al je vragen</h2>
          <p class="section-paragraph">
            Je zit vast met veel vragen; zowel over de ernst van de ecologische kwesties waar we voor staan,
            over waarom politici er niet in slagen afdoende maatregelen te nemen, als over de burgerassemblee.
          </p>
          <p class="section-paragraph" style="margin-top: 16px">
            Staat jouw vraag er niet tussen?
            <br /><a href="#">We beantwoorden hem graag voor jou en nemen hem hier op!</a>
          </p>
          <p>
            <mat-form-field floatLabel="never" style="width: 300px; text-align: center;">
              <input matInput [placeholder]="questionPlaceholder" [(ngModel)]="filter"/>
            </mat-form-field>
          </p>
        </div>
      </div>
      <div class="feature-extended">
        <div class="feature-extended-body">
          <h3 class="mt-0">Zijn jullie links of rechts?</h3>
          <p>Geen van beiden! Onze organisatie is volledig a-politiek en niet-ideologisch.
          </p>
          <ul class="question-tags"><li>Politiek</li><li>Ideologie</li></ul>
        </div>
      </div>
      <div class="feature-extended">
        <div class="feature-extended-body">
          <h3 class="mt-0">Als eender wie geloot kan worden in de assembly, hoe voorkom je dan dat iemand het varken uithangt?</h3>
          <p>
            First, countless deliberative democratic experiments have proven that, when people are given responsibility, they tend to take that very seriously. Second, moderators will always have a hand in keeping the peace and common decency. When complaints are raised against a participant, he will be fairly judged, and possibly expelled from further participation.
          </p>
          <ul class="question-tags"><li>Politiek</li><li>Ideologie</li></ul>
        </div>
      </div>
      <div class="feature-extended">
        <div class="feature-extended-body">
          <h3 class="mt-0">Are you saying the current political system is completely ineffective?</h3>
          <p>
            No. A lot of the work being done by parliaments, administrations and cabinets is of extremely high quality and we are fully aware of the complexity of many societal issues. But in the long run, we hope to get rid of the populist, polarizing, paralyzing layer that party politics adds on top of it, and instead replace them with randomly selected citizens working together constructively.
          </p>
          <ul class="question-tags"><li>Politiek</li><li>Ideologie</li></ul>
        </div>
      </div>
    </div>
  </div>
</section>
