<div class="c-panel u-padding-top-0">
  <div class="container">
    <h1 class="c-page-title" innerHtml="{{ 'Frequently Asked Questions' | translate }}"></h1>
    <p>Je zit vast met veel vragen; zowel over de ernst van de ecologische uitdagingen waar we voor staan;
      over waarom politici er niet in slagen afdoende maatregelen te nemen; als over de burgerassemblee.</p>
  </div>
</div>

<div class="c-panel u-background-color-grey-light">
  <div class="container">
    <div class="c-search-bar" role="search">
      <input class="c-search-bar__input" id="search" type="search" #question [placeholder]="questionPlaceholder" [(ngModel)]="filter"
        (keyup)="filterQuestions()">
    </div>

    <div *ngIf="tagFilter">
      <h4>{{ 'Tag filter' | translate }} <small><span class="c-tag c-tag__label" style="vertical-align: bottom;">{{ tagFilter }} <mat-icon class="remove-tag-icon"
              (click)="clearFilter()">close</mat-icon></span></small></h4>
    </div>

    <ng-container *ngIf="!filter && !tagFilter">
      <ng-container *ngFor="let topic of groupedQuestions">
        <h2 class="h4 u-margin-top-6" style="text-transform: capitalize;">{{ topic.topic }}</h2>
        <ul class="c-list c-list--questions u-margin-top-5">
          <li *ngFor="let question of topic.questions"><a routerLink="/faq" [fragment]="question.slug">{{ question.question }}</a></li>
        </ul>
      </ng-container>

      <div class="c-callout">
        <p><strong>Staat jouw vraag er niet tussen? </strong> <a routerLink="/about">We beantwoorden hem graag voor jou en
          nemen hem hier op!</a></p>
      </div>
    </ng-container>
  </div>
</div>

<div class="c-panel">
  <div class="container">
    <ng-container *ngIf="!filter && !tagFilter">
      <div *ngFor="let topic of groupedQuestions" class="question-container">
        <div *ngFor="let question of topic.questions" [id]="question.slug" class="question-container">
          <app-question [question]="question" (tagClicked)="setTagFilter($event)"></app-question>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="filter || tagFilter">
      <div *ngFor="let question of filteredQuestions" class="question-container">
        <app-question [question]="question" (tagClicked)="setTagFilter($event)"></app-question>
      </div>

      <p *ngIf="(filter || tagFilter) && filter.length > 2 && filteredQuestions.length == 0">
        Geen vragen gevonden met deze filter. <a [routerLink]="" (click)="clearFilter()">Toon terug alle vragen</a>
      </p>
    </ng-container>
  </div>
</div>

<app-participate></app-participate>
