<div class="c-panel u-padding-top-0">
  <div class="container">
    <h1 class="c-page-title" innerHtml="{{ 'aboutTitle' | translate }}"></h1>

    <p class="lead">{{ 'aboutSubtitle' | translate }}</p>
  </div>
</div>

<div class="c-panel u-background-color-brown u-color-white u-overflow-bottom">
  <div class="grid grid--columns" data-column-count="2">
    <div class="grid__tracks">

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.extinctionrebellion.be">
            <span class="u-visually-hidden">Extinction Rebellion Belgium</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-extinction-rebellion"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Extinction Rebellion Belgium</strong> {{ 'Extinction Rebellion Belgium Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.greenpeace.be">
            <span class="u-visually-hidden">Greenpeace</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-greenpeace"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Greenpeace</strong> {{ 'Greenpeace Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" [href]="(languageService.lang | async) === 'nl' ? 'https://www.grootoudersvoorhetklimaat.be/' : 'https://gpclimat.be/'">
            <img class="c-logo__image" [src]="'/assets/img/logos/' + ((languageService.lang | async) === 'fr' ? 'logo-grandparents-pour-le-climat.png' : (languageService.lang | async) === 'nl' ? 'logo-grootouders-voor-het-klimaat.png' : 'logo-grandparents-for-climate.png')" alt="{{ 'Grandparents pour le climat' | translate }}">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>{{ 'Grandparents pour le climat' | translate }}</strong> {{ 'Grandparents pour le climat Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.hartbovenhard.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-hart-boven-hard.png" alt="{{ 'Hart Boven Hard' | translate }}">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>{{ 'Hart Boven Hard' | translate }}</strong> {{ 'Hart Boven Hard Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.klimaatzaak.eu">
            <span class="u-visually-hidden">Klimaatzaak</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-klimaatzaak"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Klimaatzaak</strong> {{ 'Klimaatzaak Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.oikos.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-oikos.png" alt="Oikos">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Oikos</strong> {{ 'Oikos Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.oxfam.be">
            <span class="u-visually-hidden">Oxfam</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-oxfam"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Oxfam</strong> {{ 'Oxfam Info' | translate }}</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.youth4climate.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-youth-for-climate.png" alt="Youth For Climate">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Youth For Climate</strong> {{ 'Youth For Climate Info' | translate }}</p>

        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.gentsmilieufront.be">
            <img class="c-logo__image" src="/assets/img/logos/gmf.png" alt="Gents MilieuFront">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Gents MilieuFront</strong> {{ 'Gents MilieuFront Info' | translate }}</p>

        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.poussesetvous.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-pousses-et-vous.png" alt="Pousses et Vous">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Pousses et Vous</strong> {{ 'Pousses et Vous Info' | translate }}</p>

        </div>
      </div>

    </div>
  </div>
  <div class="c-logo-grid">
    <a class="c-logo" href="https://www.act4change.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-act4change.png" alt="Act4Change">
    </a>

    <a class="c-logo" href="https://www.agora.brussels">
      <span class="u-visually-hidden">Agora</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-agora"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://allforclimate.earth">
      <img class="c-logo__image" src="/assets/img/logos/logo-all-for-climate.png" alt="All For Climate">
    </a>

    <a class="c-logo" href="https://www.burgerlijst.be">
      <span class="u-visually-hidden">Burgerlijst Antwerpen</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-burgerlijst"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.amazone.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-vzw-amazone.png" alt="VZW Amazone">
    </a>

    <a class="c-logo" href="http://www.coalitionkaya.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-kaya.png" alt="KAYA">
    </a>

    <a class="c-logo" href="https://www.masereelfonds.be">
      <span class="u-visually-hidden">Masereelfonds</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-masereelfonds"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.palestinasolidariteit.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-palestina-solidariteit.png" alt="Palestina Solidariteit">
    </a>

    <a class="c-logo" href="https://www.groupeone.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-groupeone.png" alt="Groupe One">
    </a>

    <a class="c-logo" href="http://www.ecores.eu">
      <img class="c-logo__image" src="/assets/img/logos/logo-ecores.png" alt="Ecores">
    </a>
  </div>

  <div class="container s-editor u-margin-top-7 u-text-align-center">
    <p><a href="https://antwerpenize.be">Antwerpenize</a> | <a href="http://antwerpenaantwoord.be">Antwerpen aan 't woord</a> | <a
        href="#0">Club Eco</a> | <a href="https://www.globelink.be">Globelink VZW</a></p>
    <figure class="u-max-width-3" aria-hidden="true">
      <img src="/assets/img/illustrations/wreath.png">
    </figure>
  </div>
</div>

<div class="c-panel">
  <div class="container">
    <div class="c-callout">
      <p>{{ 'wantToJoinUs' | translate }}
        <a href="mailto:info@thecitizensparliament.be">{{ 'Contact us' | translate }}</a></p>
    </div>
  </div>
</div>

<app-participate></app-participate>
