<div class="c-panel u-padding-top-0">
  <div class="container">
    <h1 class="c-page-title" innerHtml="{{ 'aboutTitle' | translate }}"></h1>

    <p class="lead">{{ 'aboutSubtitle' | translate }}</p>
  </div>
</div>
<div class="c-panel u-background-color-brown u-color-white u-overflow-bottom">
  <div class="grid grid--columns" data-column-count="2">
    <div class="grid__tracks">

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.extinctionrebellion.be">
            <span class="u-visually-hidden">Extinction Rebellion Belgium</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-extinction-rebellion"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Extinction Rebellion Belgium</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare
            gestiant? Nemo igitur esse beatus potest.</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.greenpeace.be">
            <span class="u-visually-hidden">Greenpeace</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-greenpeace"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Greenpeace</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare gestiant? Nemo
            igitur esse beatus potest.</p>

        </div>
      </div>

      <!-- <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://gpclimat.be">
            <span class="u-visually-hidden">Grands-parents pour le climat</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-grands-parents-pour-le-climat"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Grands-parents pour le climat</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare
            gestiant? Nemo igitur esse beatus potest.</p>
        </div>
      </div> -->

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.hartbovenhard.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-hart-boven-hard.png" alt="Hart Boven Hard">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Hart Boven Hard</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare gestiant? Nemo
            igitur esse beatus potest.</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.klimaatzaak.eu">
            <span class="u-visually-hidden">Klimaatzaak</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-klimaatzaak"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Klimaatzaak</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare gestiant? Nemo
            igitur esse beatus potest.</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.oikos.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-oikos.png" alt="Oikos">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Oikos</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare gestiant? Nemo igitur
            esse beatus potest.</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.oxfam.be">
            <span class="u-visually-hidden">Oxfam</span>
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-oxfam"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Oxfam</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare gestiant? Nemo igitur
            esse beatus potest.</p>
        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <a class="c-logo c-media-object__logo" href="https://www.youth4climate.be">
            <img class="c-logo__image" src="/assets/img/logos/logo-youth-for-climate.png" alt="Youth For Climate">
          </a>
        </figure>
        <div class="c-media-object__body">
          <p><strong>Youth For Climate</strong> istam voluptatem perpetuam quis potest praestare sapienti? Ut id aliis narrare gestiant?
            Nemo igitur esse beatus potest.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="c-logo-grid">
    <a class="c-logo" href="https://www.act4change.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-act4change.png" alt="Act4Change">
    </a>

    <a class="c-logo" href="https://www.agora.brussels">
      <span class="u-visually-hidden">Agora</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-agora"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.burgerlijst.be">
      <span class="u-visually-hidden">Burgerlijst Antwerpen</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-burgerlijst"></use>
      </svg>
    </a>

    <a class="c-logo" href="http://www.coalitionkaya.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-kaya.png" alt="KAYA">
    </a>

    <a class="c-logo" href="https://www.masereelfonds.be">
      <span class="u-visually-hidden">Masereelfonds</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-masereelfonds"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.palestinasolidariteit.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-palestina-solidariteit.png" alt="Palestina Solidariteit">
    </a>
  </div>

  <div class="container s-editor u-margin-top-7 u-text-align-center">
    <p><a href="https://antwerpenize.be">Antwerpenize</a> | <a href="https://allforclimate.earth">All For Climate</a> | <a
        href="http://antwerpenaantwoord.be">Antwerpen aan 't woord</a> | <a href="#0">Club Eco</a> | <a
        href="https://www.amazone.be">Furia</a> | <a href="https://www.globelink.be">Globelink VZW</a> | <a
        href="https://www.gentsmilieufront.be">Gents Milieufront</a> | <a href="https://www.poussesetvous.be">Pousses et Vous</a></p>

    <figure class="u-max-width-3" aria-hidden="true">
      <img src="/assets/img/illustrations/wreath.png">
    </figure>
  </div>
</div>

<div class="c-panel">
  <div class="container">
    <div class="c-callout">
      <p>{{ 'wantToJoinUs' | translate }}
        <a href="mailto:info@citizenparliament.be">{{ 'Contact us' | translate }}</a></p>
    </div>
  </div>
</div>

<app-participate></app-participate>
