<div class="c-panel u-padding-top-0">
  <div class="container">
    <h1 class="c-page-title">Maak kennis met <span class="u-color-teal">de organisaties</span> achter <span class="u-color-orange-red">Het Burgerparlement</span></h1>

    <p class="lead">Het Burgerparlement is een verzameling van allerhande burgers en enkele organisaties en bewegingen die achter de basisbeginselen van <a [routerLink]="lang === 'fr' ? '/proposition' : '/voorstel'">het voorstel</a> staan.</p>
  </div>
</div>
<div class="c-panel u-background-color-brown u-color-white">
  <div class="grid grid--columns" data-column-count="2">
    <div class="grid__tracks">

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <span class="u-visually-hidden">Extinction Rebellion Belgium</span>
          <a class="c-logo c-media-object__logo" href="https://www.extinctionrebellion.be">
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-extinction-rebellion"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
            auctor fringilla.</p>

        </div>
      </div>

      <div class="c-media-object">
        <figure class="c-media-object__figure">
          <span class="u-visually-hidden">Greenpeace</span>
          <a class="c-logo c-media-object__logo" href="https://www.greenpeace.org/belgium">
            <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
              <use xlink:href="#logo-greenpeace"></use>
            </svg>
          </a>
        </figure>
        <div class="c-media-object__body">
          <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
            auctor fringilla.</p>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="c-panel">
  <div class="container">
    <div class="c-callout">
      <p>Wil je je hierbij aansluiten of heb je andere vragen? <a href="mailto:info@citizenparliament.be">Neem contact met ons op!</a></p>
    </div>
  </div>
</div>

<app-participate></app-participate>
