<section class="pricing section">
  <div class="container">

    <div class="pricing-inner section-inner">

      <div class="features-extended-header text-center">
        <div class="container-sm">
          <h2 class="section-title mt-0">{{ 'A national citizens parliament concerning the ecological emergencies' | translate }}
            <br /><small>{{ 'Memorandum for the new federal government' }}</small>
          </h2>
        </div>
      </div>

      <div [innerHTML]="memorandum"></div>
    </div>
  </div>
</section>
