<div class="c-panel u-padding-top-0">
  <div class="container u-max-width-7 u-text-align-center">
    <h1 class="c-page-title" [innerHtml]="'mainTitle' | translate"></h1>

    <p class="lead">{{ 'mainSubtitle' | translate }}</p>
  </div>
</div>

<div class="c-panel u-background-color-teal u-color-white">
  <div class="container s-editor">
    <figure class="u-float-left u-max-width-2" aria-hidden="true">
      <img src="/assets/img/illustrations/jellyfish.png">
    </figure>
    <h2 class="h4">We staan voor ongeziene ecologische uitdagingen</h2>

    <p>Een opwarmend klimaat, biodiversiteitsverlies, gigantische vervuiling, ... Wetenschappers en activisten waarschuwen al jaren voor de
      ecologische crisis en haar ongelijke maatschappelijke impact. Het is een realiteit waar zowel rechtse als linkse partijen - én hun
      kiezers - zich vroeg of laat toe zullen moeten verhouden. Deze crisis speelt zich niet af in een verre toekomst: onmetelijke
      bosbranden, smeltende ijskappen en overstromingen zijn nu al dagelijks nieuws. Ook België blijft niet gespaard. Door de aanhoudende
      droogte zitten onze boeren met de handen in het haar. Het gaat toch om een globaal probleem? Natuurlijk. Toch kunnen politici op
      verschillende niveaus niet meer op elkaar wachten. Overal zou het alle hens aan dek moeten zijn. De bewoonbaarheid van onze planeet en
      de volksgezondheid van de toekomst staan op het spel.</p>

    <figure class="u-float-right u-max-width-2" aria-hidden="true">
      <img src="/assets/img/illustrations/gramophone.png">
    </figure>
    <h2 class="h4">Partijpolitiek slaagt er niet in het tij te keren</h2>

    <p>De voorbije, eindeloos aanslepende regeringsonderhandelingen maken het duidelijk: ook onze democratie is in crisis. Het getouwtrek
      zorgt voor een bestuurlijke stilstand, die we ons niet meer kunnen veroorloven. Politieke partijen beweren elkaar 'kapot' te willen
      maken! Maar voor een snelle weg naar doortastend milieubeleid is samenwerking nodig - tussen verschillende bestuursniveaus en tussen
      burgers, wetenschappers en de politiek. Mét oog voor de complexiteit van de ecologische crisis en haar sociale gevolgen.</p>

    <figure class="u-float-left u-max-width-2" aria-hidden="true">
      <img src="/assets/img/illustrations/diversity.png">
    </figure>
    <h2 class="h4">De oplossing: een Burgerparlement?</h2>

    <p>Een Burgerparlement kan de politiek versterken. (En zo'n versterking kan ze in België wel gebruiken.) Is het een wondermiddel dat de
      ecologische crisis voor eens en voor altijd ‘oplost’? Was het maar waar! Toch zien we dat verkiezingen, klimaatmarsen en
      schoolstakingen ons niet snel en ver genoeg doen springen. De leden van een Burgerparlement worden geloot. Tegelijk wordt rekening
      gehouden met de bevolkingssamenstelling op vlak van leeftijd, gender, opleidingsniveau, ... Dat maakt een Burgerparlement erg
      representatief. Hoeveel laaggeschoolden tellen onze verschillende parlementen in België? Iedereen zou aan dit cruciale debat moeten
      kunnen deelnemen. Forse milieumaatregelen zullen immers enkel de nodige steun onder bevolking verzamelen als degenen die er de impact
      van voelen - ook de positieve! - er mee over kunnen beslissen.</p>

    <figure class="u-float-right u-max-width-2" aria-hidden="true">
      <img src="/assets/img/illustrations/owl.png">
    </figure>
    <h2 class="h4">Veel andere landen deden het ons al met succes voor</h2>

    <p>Hoe organiseer je zoiets? Gelukkig hoeven we het warme water niet uit te vinden. Steeds meer landen gingen ons al voor: Canada,
      Australië, het Verenigd Koninkrijk, ... In het katholieke Ierland slaagde een burgerparlement erin om de politieke knoop van de
      abortuskwestie te ontwarren. Ook de Franse <em>Convention Citoyenne pour le Climat</em> schiep onlangs een belangrijk historisch
      precedent. Na acht maanden kwamen de 150 leden van het Franse burgerparlement, geïnitieerd door president Emmanuel Macron, met een
      lijvig rapport vol concrete beleidsvoorstellen.</p>
  </div>
</div>
<div class="c-panel">
  <div class="container s-editor">
    <figure class="u-max-width-4" aria-hidden="true">
      <img src="/assets/img/illustrations/birds.png">
    </figure>
    <h2 class="h3"><span class="u-color-teal">Grondbeginselen</span> Burgerparlement</h2>

    <p>De ondertekenaars roepen de federale regering op er zich toe te verbinden om, voortbouwend op Art. 7bis van de Belgische
      Grondwet<sup>1</sup>, in de loop van deze legislatuur een Burgerparlement te initiëren rond de ecologische noodtoestand. Dit orgaan
    </p>
    <ul>
      <li>behandelt een vraag die zich niet beperkt tot de klimaatopwarming maar het bredere perspectief van de ecologische crisis centraal
        stelt en dus rekening houdt met de negen huidig geïdentificeerde planetaire grenzen<sup>2</sup></li>
      <li>bestaat uit een door loting samengestelde groep burgers die, rekening houdend met een reeks demografische criteria, een voldoende
        representatieve dwarsdoorsnede vormt van de totale Belgische bevolking;</li>
      <li>houdt, om de participatiedrempel te verlagen, rekening met inclusiviteitswaarborgen zoals dagvergoedingen, transportvergoedingen,
        accommodatie, kinderopvang en andere vormen van ondersteuning van zijn leden;</li>
      <li>laat zich informeren door een groep experten en belanghebbenden die evenwichtig is samengesteld, rekening houdend met de
        wetenschappelijke consensus rond de ecologische crisis;</li>
      <li>bewaakt zijn onafhankelijkheid ten opzichte van politieke, economische en sociale actoren (waaronder de federale regering alsook
        de organisaties en bewegingen die dit voorstel steunen) aan de hand van een evenwichtig samengesteld organigram met de nodige checks
        en balances, gecoördineerd door een professionele organisatie gespecialiseerd in deliberatieve processen;</li>
      <li>ontwikkelt beleidsvoorstellen voor een coherent beleid in respons op de ecologische noodtoestand, zowel op het federale en
        gewestelijke niveau als op dat van de gemeenschappen;</li>
      <li>heeft voldoende impact op het reële beleid van de federale staat, de gewesten en de gemeenschappen doordat elk van zijn
        beleidsvoorstellen door de bevoegde regering(en) wordt geïmplementeerd of aan het bevoegde parlement of de bevoegde parlementen ter
        stemming wordt voorgelegd (waarbij op afgewezen voorstellen telkens grondige en publiek toegankelijke motivaties volgen);</li>
      <li>laat zich leiden door de volgende gidsprincipes: (1) proportionaliteit ten opzichte van de geadresseerde risico’s, (2) sociale
        rechtvaardigheid, (3) een bewustzijn van de globale im- pact van de Belgische productie en consumptie en (4) het voorzorgsbeginsel.
      </li>
    </ul>
    <p class="small"><sup>1</sup> Bij de uitoefening van hun respectieve bevoegdheden streven de federale Staat, de gemeenschappen en de
      gewesten de doelstellingen na van een duurzame ontwikkeling in haar sociale, economische en milieu- gebonden aspecten, rekening
      houdend met de solidariteit tussen de generaties.</p>
    <p class="small"><sup>2</sup> (1) de opwarming van de aarde, (2) het verlies van de biodiversiteit, (3) de stikstof- en fosforkringloop,
      (4) het gat in de ozonlaag, (5) oceaanverzuring, (6) waterschaarste, (7) landgebruik, (8) chemische verontreiniging, (9) aerosolen in
      de atmosfeer.</p>
    <button class="c-button c-button--download">
      <span class="c-button__label">Download het uitgewerkte voorstel</span>
    </button>

  </div>
</div>

<app-participate></app-participate>
