<div class="c-panel u-padding-top-0">
  <div class="container">
    <h1 class="c-page-title">This is a <span class="u-color-teal">page title</span> with some <span
        class="u-color-orange-red">highlighted</span> words</h1>

    <p class="lead">This is a lead paragraph. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  </div>
</div>
<div class="c-panel u-background-color-teal u-color-white">
  <div class="container s-editor">
    <figure class="u-max-width-3" aria-hidden="true">
      <img src="/assets/img/illustrations/birds.png">
    </figure>
    <blockquote>
      <p>This is a blockquote. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed. Commodo vitae,
        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
        dui.</p>
      <footer>Aenean Fermentum</footer>
    </blockquote>

  </div>
</div>
<div class="c-panel">
  <div class="container s-editor">
    <h2 id="introduction">Introduction</h2>
    <p class="lead">This is a lead paragraph. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <figure class="u-float-left">
      <img src="/assets/img/illustrations/jellyfish.png" alt="This is a description of the image">
      <figcaption>This is an optional caption.</figcaption>
    </figure>
    <h3 id="synopsis">Synopsis</h3>
    <p class="lead">This is a lead paragraph. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <ul>
      <li>This is an unordered list item. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros
        eu erat. Aliquam erat volutpat.</li>
      <li>This is an unordered list item.</li>
      <li>This is an unordered list item.</li>
    </ul>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <figure class="u-float-right">
      <img src="/assets/img/illustrations/gramophone.png" alt="This is a description of the image">
      <figcaption>This is an optional caption. Maecenas sed diam eget risus varius blandit.</figcaption>
    </figure>
    <h2 id="preparation-of-the-process">Preparation of the process</h2>
    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <h3>This is a heading</h3>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <figure>
      <img src="/assets/img/illustrations/owl.png" alt="This is a description of the image">
      <figcaption>This is an optional caption.</figcaption>
    </figure>
    <h4>This is a heading</h4>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

  </div>
</div>

<app-participate></app-participate>
