<section class="section" id="neem-deel">
  <div class="container">
    <div class="clients-inner section-inner">
      <div class="container">
        <div class="smaller">
          <!-- <ul class="list-reset mb-0"> </ul> -->

          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxFlex="70" fxFlex.xs="100" *ngIf="!sent">
              <h3 class="section-title mt-0">Mail je vertegenwoordigers</h3>

              <div class="who" *ngIf="!selectionComplete">
                <h4>Wie wil je een mail sturen?</h4>

                <!-- <div class="choice-list" *ngIf="!selectType">
                  <button mat-raised-button color="primary" (click)="selectType = 'filters'">Selectie op kieskring, naam of partij</button>
                  <button mat-raised-button color="primary" (click)="selectType = 'region'">Op basis van locatie</button>
                </div> -->

                <div class="filters">
                  <mat-form-field style="width: 100%">
                    <mat-label>Kieskring</mat-label>
                    <mat-select [(ngModel)]="selectedConstituency" name="selectedConstituency" (selectionChange)="filterMps()">
                      <mat-option [value]=""></mat-option>
                      <mat-option *ngFor="let constituency of constituencies" [value]="constituency">
                        {{ constituency }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="width: 100%">
                    <mat-label>Partij</mat-label>
                    <mat-select [(ngModel)]="selectedParty" name="selectedParty" (selectionChange)="filterMps()">
                      <mat-option [value]=""></mat-option>
                      <mat-option *ngFor="let party of parties" [value]="party">
                        {{ party }}
                      </mat-option>
                      <mat-option value="ONAFH">Onafhankelijk</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="width: 100%">
                    <mat-label>Naam</mat-label>
                    <input matInput name="nameFilter" [(ngModel)]="nameFilter" (keyup)="filterMps()" />
                  </mat-form-field>
                </div>

                <div class="action-list">
                  <button mat-raised-button *ngIf="(selectedMps.length > 0) || selectionFilterSet"
                    color="primary" (click)="confirmSelection()" [disabled]="selectedMps.length === 0">
                    Selectie OK
                    <ng-container *ngIf="selectedMps.length > 0">({{ selectedMps.length }})</ng-container>
                  </button>
                  <button mat-raised-button *ngIf="(selectedMps.length > 0) || selectionFilterSet"
                    (click)="clearSelected()" [disabled]="selectedMps.length === 0">Selectie ongedaan maken</button>
                  <button mat-raised-button *ngIf="selectionFilterSet" (click)="selectAllVisibleFiltered()" style="float: right">Allemaal selecteren</button>
                </div>

                <div class="mp-list" style="margin-bottom: 12px" *ngIf="selectionFilterSet">
                  <app-mp *ngFor="let mp of filteredMps" [mp]="mp" class="mp-card" (mpSelected)="mpSelected($event)" (mpDeselected)="mpDeselected($event)"></app-mp>
                </div>
              </div>

              <form #personalDataForm="ngForm" *ngIf="selectionComplete && selectedMps.length > 0 && !personalDataComplete" fxLayout="column" fxLayoutGap="12px">
                <div fxFlex fxLayout="row" fxLayoutGap="12px">
                  <mat-form-field fxFlex="40">
                    <mat-label>Voornaam</mat-label>
                    <input matInput placeholder="Voornaam" name="firstName" [(ngModel)]="newMail.firstName" required>
                  </mat-form-field>

                  <mat-form-field fxFlex="60">
                    <mat-label>Achternaam</mat-label>
                    <input matInput placeholder="Achternaam" name="lastName" [(ngModel)]="newMail.lastName" required>
                  </mat-form-field>
                </div>

                <mat-form-field fxFlex>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="voorbeeld@gmail.com" name="email" [(ngModel)]="newMail.email" required>
                </mat-form-field>

                <div fxFlex fxLayout="row" fxLayoutGap="12px">
                  <mat-form-field fxFlex="30">
                    <mat-label>Postcode</mat-label>
                    <input matInput placeholder="1000" name="postalCode" [(ngModel)]="newMail.postalCode" required>
                  </mat-form-field>

                  <mat-form-field fxFlex="70">
                    <mat-label>Stad</mat-label>
                    <input matInput placeholder="Brussel" name="city" [(ngModel)]="newMail.city" required>
                  </mat-form-field>
                </div>

                <button mat-raised-button color="primary" [disabled]="!personalDataForm.valid" (click)="personalDataComplete = true;">Ok - bijna klaar!</button>
              </form>

              <div *ngIf="personalDataComplete" fxLayout="column" fxLayoutGap="12px">
                <div>
                  <strong>Aan: </strong>
                  <span *ngIf="(selectedMps.length <= 5 || selectedMpListExpanded)" class="mpSelectionList">
                    <span *ngFor="let selectedMp of selectedMps">{{ selectedMp.name }}</span>
                  </span>
                  <span *ngIf="selectedMps.length > 5">
                    <ng-container *ngIf="!selectedMpListExpanded">{{ selectedMps.length }} vertegenwoordigers</ng-container> (<a
                      [routerLink]="" (click)="selectedMpListExpanded = !selectedMpListExpanded">{{ selectedMpListExpanded ? 'verberg' : 'toon' }}</a>)</span>
                  <span> (<a [routerLink]="" (click)="selectionComplete = false; personalDataComplete = false;">wijzig</a>)</span>
                </div>
                <div>
                  <strong>Van: </strong> {{ newMail.firstName }} {{ newMail.lastName}} (<a [routerLink]="" (click)="personalDataComplete = false;">wijzig</a>)
                </div>

                <mat-form-field fxFlex *ngIf="customSubject">
                  <mat-label>Onderwerp</mat-label>
                  <input matInput placeholder="Bv: Neem afdoende maatregelen voor een leefbare toekomst!" name="customSubject" [(ngModel)]="newMail.subject" #customSubject>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="!customSubject">
                  <mat-label>Onderwerp</mat-label>
                  <mat-select [(ngModel)]="newMail.subject" name="predefinedSubject" (selectionChange)="subjectChanged()">
                    <mat-option *ngFor="let subject of subjects" [value]="subject">
                      {{ subject }}
                    </mat-option>
                    <mat-option [value]="" style="font-style: italic;">Schrijf zelf een onderwerp</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                  <mat-label>Tekst</mat-label>
                  <textarea matInput rows="10" placeholder="Leg uit waarom je dit belangrijk vindt." name="body"
                    [(ngModel)]="newMail.body"></textarea>
                  <mat-hint align="start"><strong>Wij verzorgen de aanhef en ondertekening!</strong> </mat-hint>
                </mat-form-field>

                <div><mat-checkbox name="allowPublic" [(ngModel)]="newMail.allowPublic">Mijn ondertekening mag publiek op de site verschijnen.</mat-checkbox></div>

                <!-- <div><mat-checkbox name="allowReplies" [(ngModel)]="newMail.allowReplies">Ik mail onder mijn eigen naam; dit laat toe dat mijn contactpersonen mij persoonlijk kunnen terugmailen.</mat-checkbox></div> -->

                <div><mat-checkbox name="stayUpToDate" [(ngModel)]="newMail.stayUpToDate">Ik wil graag op de hoogte blijven van het resultaat van deze campagne.</mat-checkbox></div>

                <button mat-raised-button color="primary" *ngIf="!newMail._id" (click)="sendMail()">Verstuur!</button>
              </div>
            </div>

            <div fxFlex="70" fxFlex.xs="100" *ngIf="sent">
              <h3 class="section-title mt-0">Bedankt!</h3>
              <p>De door jou gekozen vertegenwoordigers ontvingen je mail en kunnen jou nu terugmailen. Fingers crossed!</p>
              <p *ngIf="newMail.stayUpToDate">We zullen je hoe dan ook op de hoogte houden van het verdere verloop van deze actie.</p>
            </div>

            <div fxFlex="30" fxFlex.xs="100">
              <strong>Namen recent deel...</strong>
              <ul>
                <li *ngFor="let mail of mails">
                  {{ mail.firstName }} {{ mail.lastName.charAt(0).toUpperCase() }}. <span *ngIf="mail.city">({{ mail.city }})</span>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
