.s-editor {
  @extend %stack;

  figure {
    margin-left: auto;
    margin-right: auto;
    max-width: map-get($width-units, '3');
    text-align: right;
    width: percentage(6/10);

    img {
      width: 100%;
    }

    &.u-align-left {
      margin-left: 0;
    }

    &.u-align-right {
      margin-right: 0;
    }

    @include media-query('min:100') {
      $width: ($spacing-unit * 12.5);

      &.u-float-left,
      &.u-float-right {
        max-width: $width;
        transform: translate(0, -25%);
      }

      &.u-float-left {
        clear: left;
        float: left;
        margin-left: (($width + map-get($spacing-units, '6')) * -1);
        text-align: left;
      }

      &.u-float-right {
        clear: right;
        float: right;
        margin-right: (($width + map-get($spacing-units, '6')) * -1);
      }
    }
  }

  figcaption {
    font-size: font-unit('micro');
    margin-top: map-get($spacing-units, '3');
  }

  ol,
  ul {
    @extend %stack;

    li {
      --gutter-width: #{map-get($spacing-units, '2')};
    }
  }

  sup,
  sub {
    font-size: font-unit('micro');
    line-height: 1;
  }
}
