.site-header.small::before {
  height: 130px;
  transform: skewY(-2deg);
}

@media (max-width: 640px) {
  .site-header.small::before {
    height: 110px;
  }
}

.darker {
  color: color(typography, 1);
}
