@import './main/theme.scss';
@import './material-theme.scss';

$primary-color: mat-color($app-primary);
$accent-color: mat-color($app-accent);

.mat-icon.inline {
  height: unset;
  width: unset;
  font-size: inherit;
  vertical-align: text-bottom;
}

.primary {
  color: $primary-color;
}

.accent {
  color: $accent-color;
}

// Material overwrites

.mat-checkbox-layout {
  white-space: unset !important;
}

// Main styles overwrites

.c-callout {
  display: block;
}

// Main styles additions

.container-wide {
  max-width: map-get($width-units, '8');
}

app-root {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}
