@import './evelyn/style.scss';
@import './evelyn-extensions.scss';
@import './material-theme.scss';

.mat-icon.inline {
  height: unset;
  width: unset;
  font-size: inherit;
  vertical-align: text-bottom;
}

body {
  overflow-y: scroll;
}
