@import './evelyn/style.scss';
@import './evelyn-extensions.scss';
@import './material-theme.scss';

.mat-icon.inline {
  height: unset;
  width: unset;
  font-size: inherit;
  vertical-align: text-bottom;
}

body {
  overflow-y: scroll;
}

.primary {
  color: mat-color($app-primary);
}

.accent {
  color: mat-color($app-accent);
}

// Material overwrites

.mat-checkbox-layout {
  white-space: unset !important;
}
