<!-- <section class="hero text-light text-center">
  <div class="container-sm">
    <div class="hero-inner">
      <h1 class="hero-title h2-mobile mt-0">{{ 'A national citizens parliament concerning the ecological emergencies' | translate }}</h1>
      <p class="hero-paragraph">
        {{ 'openingMessage' | translate }}
      </p>
      <p class="hero-cta"><a class="button-evelyn button-secondary button-shadow" routerLink="/deelnemen">Steun het
          initiatief</a></p>
      <div class="hero-media" id="het-concept">
        <video controls [poster]="currentVideo.poster" [src]="currentVideo.src" type="video/mp4" #videoPlayer>
          Sorry, your browser doesn't support embedded videos.
        </video>
          <div class="vid-carrousel" #videoCarrousel cdkScrollable>
            <div class="vid-prev" (click)="scrollLeft()"></div>
            <img class="vid-thumb" [src]="vid.poster" *ngFor="let vid of videos" (click)="playVid(vid)" />
            <div class="vid-next" (click)="scrollRight()"></div>
          </div>
      </div>
    </div>
  </div>
</section> -->

<div class="c-panel u-padding-top-0">
  <div class="container u-max-width-7 u-text-align-center">
    <h1 class="c-page-title">Tijd voor een <span class="u-color-teal">Burgerparlement</span> rond de <span
        class="u-color-orange-red">ecologische noodtoestand</span></h1>

    <p class="lead">Meer burgerparticipatie en ambitieuze milieumaatregelen? Het Burgerparlement heeft voor onze kersverse regering een
      concreet voorstel klaar! 101 burgers, representatief voor de Belgische bevolking, die gesteund door wetenschappers en experten
      nadenken over hoe we de grootste uitdaging van onze tijd te lijf kunnen gaan.</p>

  </div>
</div>

<div class="c-panel u-background-color-lemon u-text-align-center u-overflow-top">
  <div class="grid grid--columns" data-column-count="2">
      <div class="grid__tracks">


              <div class="grid__cell s-editor">
                  <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
                      <img src="/assets/img/illustrations/jellyfish.png">
                  </figure>
                  <h2 class="h6">We staan voor ongeziene ecologische uitdagingen</h2>

                  <p>Een opwarmend klimaat, biodiversiteitsverlies, gigantische vervuiling, ... Wetenschappers en activisten waarschuwen al jaren voor de ecologische crisis en haar ongelijke maatschappelijke impact.</p>

              </div>

              <div class="grid__cell s-editor">
                  <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
                      <img src="/assets/img/illustrations/gramophone.png">
                  </figure>
                  <h2 class="h6">Partijpolitiek slaagt er niet in het tij te keren</h2>

                  <p>De voorbije, eindeloos aanslepende regeringsonderhandelingen maken het duidelijk: ook onze democratie is in crisis. Het getouwtrek zorgt voor een bestuurlijke stilstand, die we ons niet meer kunnen veroorloven.</p>

              </div>

              <div class="grid__cell s-editor">
                  <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
                      <img src="/assets/img/illustrations/diversity.png">
                  </figure>
                  <h2 class="h6">De oplossing: een Burgerparlement?</h2>

                  <p>Gelote burgers kunnen samenwerken, in plaats van elkaar bekampen. Ze wetenschappers en experten, in plaats van oude dogma's. Ze moeten niet vrezen voor hun politieke carrière of herverkozen raken. Ze kunnen geïnformeerde, doorgesproken beslissingen nemen, gebaseerd op informatie uit alle hoeken van de samenleving.</p>

              </div>

              <div class="grid__cell s-editor">
                  <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
                      <img src="/assets/img/illustrations/owl.png">
                  </figure>
                  <h2 class="h6">Veel andere landen deden het ons al met succes voor</h2>

                  <p>Gelukkig hoeven we het warme water niet uit te vinden. Steeds meer landen gingen ons al voor. In Frankrijk schiep het <em>Convention Citoyenne pour le Climat</em> onlangs een historisch precedent: na acht maanden kwamen de 150 leden van dit burgerparlement met een lijvig rapport vol concrete beleidsvoorstellen.</p>

              </div>

      </div>
  </div>
  <div class="container u-margin-top-7 u-text-align-center">
      <button class="c-button">
  <span class="c-button__label">Lees het voorstel</span>
</button>

  </div>
</div>

<div class="c-panel u-padding-top-9">
  <div class="container s-editor u-text-align-center">
    <h2><span class="u-color-teal">Contacteer</span> jouw <span class="u-color-orange-red">vertegenwoordigers</span></h2>
    <p>Waar wacht de regering De Croo I dus nog op!? Neem deel aan onze campagne! Stuur een mail naar jouw vertegenwoordiger of een tweet
      naar onze nieuwe ministers.</p>

  </div>
</div>
<div class="c-panel u-background-color-pink u-margin-top-7">
  <div class="c-mailer">
    <div class="c-mailer__filters">
      <h2 class="h6">Wie wil je mailen?</h2>
      <p class="small">Gebruik de filters en selecteer zoveel politici als je wilt.</p>
      <div class="c-filter-bar">
        <div class="c-form__field c-form__field--search c-filter-bar__field">
          <label class="c-form__field__label" for="filter-search">Zoek op naam</label>
          <div class="c-form__input__wrapper" data-icon-entity="">
            <input class="c-form__input" id="search" type="text" placeholder="Zoek op naam">
          </div>
        </div>

        <div class="c-form__field c-form__field--select c-filter-bar__field">
          <label class="c-form__field__label" for="filter-parlement">Parlement</label>
          <div class="c-form__input__wrapper" data-icon-entity="">
            <select class="c-form__input" id="filter-parlement">
              <option value="">Parlement</option>

              <option value="1">Federaal</option>

              <option value="2">Brussel</option>

              <option value="3">Vlaanderen</option>

              <option value="4">Wallonia</option>

            </select>
          </div>
        </div>

        <div class="c-form__field c-form__field--select c-filter-bar__field">
          <label class="c-form__field__label" for="filter-kieskring">Kieskring</label>
          <div class="c-form__input__wrapper" data-icon-entity="">
            <select class="c-form__input" id="filter-kieskring">
              <option value="">Kieskring</option>

              <option value="1">Antwerpen</option>

              <option value="2">Brussel</option>

              <option value="3">Oost-Vlaanderen</option>

              <option value="4">West-Vlaanderen</option>

            </select>
          </div>
        </div>

        <div class="c-form__field c-form__field--select c-filter-bar__field">
          <label class="c-form__field__label" for="filter-partij">Partij</label>
          <div class="c-form__input__wrapper" data-icon-entity="">
            <select class="c-form__input" id="filter-partij">
              <option value="">Partij</option>

              <option value="1">CD&amp;V</option>

              <option value="2">DéFi</option>

              <option value="3">Ecolo</option>

              <option value="4">Groen</option>

              <option value="5">NVA</option>

              <option value="6">PvDA</option>

            </select>
          </div>
        </div>

      </div>

    </div>
    <div class="c-mailer__recipients">

      <div class="c-media-object c-media-object--person" data-selected="true">
        <figure class="c-avatar c-media-object__figure">
          <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
            alt="This is a description of the image">
        </figure>

        <div class="c-media-object__body">
          <h3 class="h6">Zakia Khattabi</h3>
          <dl class="c-list c-list--attributes">
            <dt class="c-list__term">Parlement</dt>
            <dd class="c-list__definition">Federaal</dd>
            <dt class="c-list__term">Kieskring</dt>
            <dd class="c-list__definition">Brussel</dd>
            <dt class="c-list__term">Partij</dt>
            <dd class="c-list__definition">Groen</dd>
          </dl>
        </div>
      </div>

      <div class="c-media-object c-media-object--person">
        <figure class="c-avatar c-media-object__figure">
          <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
            alt="This is a description of the image">
        </figure>

        <div class="c-media-object__body">
          <h3 class="h6">Georges Dallemagne</h3>
          <dl class="c-list c-list--attributes">
            <dt class="c-list__term">Parlement</dt>
            <dd class="c-list__definition">Federaal</dd>
            <dt class="c-list__term">Kieskring</dt>
            <dd class="c-list__definition">Brussel</dd>
            <dt class="c-list__term">Partij</dt>
            <dd class="c-list__definition">cdH</dd>
          </dl>
        </div>
      </div>

      <div class="c-media-object c-media-object--person" data-selected="true">
        <figure class="c-avatar c-media-object__figure">
          <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
            alt="This is a description of the image">
        </figure>

        <div class="c-media-object__body">
          <h3 class="h6">Philippe Pivin</h3>
          <dl class="c-list c-list--attributes">
            <dt class="c-list__term">Parlement</dt>
            <dd class="c-list__definition">Federaal</dd>
            <dt class="c-list__term">Kieskring</dt>
            <dd class="c-list__definition">Brussel</dd>
            <dt class="c-list__term">Partij</dt>
            <dd class="c-list__definition">MR</dd>
          </dl>
        </div>
      </div>

      <div class="c-media-object c-media-object--person">
        <figure class="c-avatar c-media-object__figure">
          <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
            alt="This is a description of the image">
        </figure>

        <div class="c-media-object__body">
          <h3 class="h6">Ahmed Laaouej</h3>
          <dl class="c-list c-list--attributes">
            <dt class="c-list__term">Parlement</dt>
            <dd class="c-list__definition">Federaal</dd>
            <dt class="c-list__term">Kieskring</dt>
            <dd class="c-list__definition">Brussel</dd>
            <dt class="c-list__term">Partij</dt>
            <dd class="c-list__definition">PS</dd>
          </dl>
        </div>
      </div>

      <div class="c-media-object c-media-object--person">
        <figure class="c-avatar c-media-object__figure">
          <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
            alt="This is a description of the image">
        </figure>

        <div class="c-media-object__body">
          <h3 class="h6">Sophie Rohonyi</h3>
          <dl class="c-list c-list--attributes">
            <dt class="c-list__term">Parlement</dt>
            <dd class="c-list__definition">Federaal</dd>
            <dt class="c-list__term">Kieskring</dt>
            <dd class="c-list__definition">Brussel</dd>
            <dt class="c-list__term">Partij</dt>
            <dd class="c-list__definition">DéFI</dd>
          </dl>
        </div>
      </div>

    </div>
    <form class="c-form c-mailer__form">
      <fieldset class="c-form__section c-form__section--fieldset">
        <div class="c-form__field-group">
          <div class="c-form__field c-form__field--text">
            <label class="c-form__field__label" for="field-forename">Voornaam</label>
            <input class="c-form__input" type="text" id="field-forename">
          </div>
          <div class="c-form__field c-form__field--text">
            <label class="c-form__field__label" for="field-surname">Familienaam</label>
            <input class="c-form__input" type="text" id="field-surname">
          </div>
        </div>
        <div class="c-form__field c-form__field--text">
          <label class="c-form__field__label" for="field-email">E-mail</label>
          <input class="c-form__input" type="email" id="field-email">
          <ul class="c-form__errors">
            <li>Gelieve en geldig e-mailadres in te vullen.</li>
          </ul>
        </div>
      </fieldset>
      <fieldset class="c-form__section c-form__section--fieldset">
        <div class="c-form__field c-form__field--text">
          <label class="c-form__field__label" for="field-subject">Aan</label>
          <ul class="c-list c-list--recipients">


            <li class="c-list__item"><span class="c-badge">Zakia Khattabi</span>
            </li>





            <li class="c-list__item"><span class="c-badge">Philippe Pivin</span>
            </li>






          </ul>
        </div>
        <div class="c-form__field c-form__field--select">
          <label class="c-form__field__label" for="field-subject">Onderwerp</label>
          <div class="c-form__input__wrapper" data-icon-entity="">
            <select class="c-form__input" id="field-subject">
              <option value="">Please select</option>
              <option>This is a subject line</option>
              <option>This is another subject line</option>
              <option>This is a third subject line</option>
            </select>
          </div>
        </div>
        <div class="c-form__field c-form__field--textarea">
          <label class="c-form__field__label" for="field-body">Tekst</label>
          <span class="c-form__field__instruction">This is an instruction.</span>
          <textarea class="c-form__input"
            id="field-body">This is placeholder text. Nam his libris eum malo quam reliquo ornatu villae delectari. Aufert enim sensus actionemque tollit omnem. Vide, quaeso, rectumne sit. Duo Reges: constructio interrete. Quo tandem modo? Audeo dicere, inquit. Gerendus est mos, modo recte sentiat. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc.</textarea>
        </div>
      </fieldset>
      <div class="c-form__section c-form__section--actions">
        <div class="c-form__field c-form__field--options">
          <label class="u-visually-hidden">Checkbox</label>
          <div class="c-form__field-stack">
            <div class="c-form__field c-form__field--option">
              <input class="c-form__input" type="checkbox" id="field-consent" value="1">
              <label class="c-form__option__label" for="field-consent">This is a checkbox label. Quo invento omnis ab eo quasi.</label>
            </div>
          </div>
        </div>
        <button class="c-button">
          <span class="c-button__label">Verzenden</span>
        </button>
      </div>
    </form>
  </div>

</div>
<div class="c-panel u-background-color-gradient u-color-white">
  <div class="grid grid--columns" data-column-count="2">
    <div class="grid__tracks">

      <div class="c-tweet">
        <p class="c-tweet__body"><a href="https://www.twitter.com/alexanderdecroo">@alexanderdecroo</a> This is the content of a tweet.
          Itaque sensibus rationem adiunxit et ratione effecta. Fugiunt, re eadem defendunt, quae Peripatetici, verba. Cupit enim dícere
          nihil posse beatam vitam. This tweet contains exactly 280 characters. <a
            href="https://www.twitter.com/hashtag/ParlementCitoyen">#ParlementCitoyen</a> <a
            href="https://www.twitter.com/hashtag/BurgerParlement">#BurgerParlement</a></p>
        <a class="c-button c-tweet__button"
          href="https://twitter.com/intent/tweet/?text=%40alexanderdecroo%20This%20is%20the%20content%20of%20a%20tweet.%20Itaque%20sensibus%20rationem%20adiunxit%20et%20ratione%20effecta.%20Fugiunt%2C%20re%20eadem%20defendunt%2C%20quae%20Peripatetici%2C%20verba.%20Cupit%20enim%20d%C3%ADcere%20nihil%20posse%20beatam%20vitam.%20This%20tweet%20contains%20exactly%20280%20characters.%20%23ParlementCitoyen%20%23BurgerParlement">
          <span class="c-button__label">Stuur deze tweet</span>
        </a>
      </div>


      <div class="c-tweet">
        <p class="c-tweet__body"><a href="https://www.twitter.com/alexanderdecroo">@alexanderdecroo</a> This is the content of a tweet.
          Itaque sensibus rationem adiunxit et ratione effecta. Fugiunt, re eadem defendunt, quae Peripatetici, verba. Cupit enim dícere
          nihil posse beatam vitam. This tweet contains exactly 280 characters. <a
            href="https://www.twitter.com/hashtag/ParlementCitoyen">#ParlementCitoyen</a> <a
            href="https://www.twitter.com/hashtag/BurgerParlement">#BurgerParlement</a></p>
        <a class="c-button c-tweet__button"
          href="https://twitter.com/intent/tweet/?text=%40alexanderdecroo%20This%20is%20the%20content%20of%20a%20tweet.%20Itaque%20sensibus%20rationem%20adiunxit%20et%20ratione%20effecta.%20Fugiunt%2C%20re%20eadem%20defendunt%2C%20quae%20Peripatetici%2C%20verba.%20Cupit%20enim%20d%C3%ADcere%20nihil%20posse%20beatam%20vitam.%20This%20tweet%20contains%20exactly%20280%20characters.%20%23ParlementCitoyen%20%23BurgerParlement">
          <span class="c-button__label">Stuur deze tweet</span>
        </a>
      </div>


    </div>
  </div>
  <div class="c-icon-group h6 u-margin-top-7">
    <span class="c-icon-group__label">Volg de campagne</span>
    <a class="c-icon" href="https://twitter.com" data-icon-entity="">
      <span class="u-visually-hidden">Twitter</span>
    </a>
    <a class="c-icon" href="https://facebook.com" data-icon-entity="">
      <span class="u-visually-hidden">Facebook</span>
    </a>
    <a class="c-icon" href="https://instagram.com" data-icon-entity="">
      <span class="u-visually-hidden">Instagram</span>
    </a>
  </div>

</div>
<div class="c-panel">
  <div class="container s-editor u-text-align-center">
    <h2 class="h3"><span class="u-color-teal">Veelgestelde</span> vragen</h2>
    <p>Je zit ongetwijfeld met erg veel vragen, bijvoorbeeld...</p>
  </div>

  <div class="grid grid--columns u-margin-top-7" data-column-count="2">
    <div class="grid__tracks">

      <div class="grid__cell s-editor u-text-align-center" *ngFor="let question of questions; let i = index;">
        <figure class="u-max-width-1" aria-hidden="true">
          <img [src]="imgs[i]">
        </figure>
        <h3 class="h5"><a [routerLink]="(lang === 'nl' ? '/vraag/' : '/question/') + question.slug"
          [innerHtml]="question.question"></a></h3>
        <p class="keep-newlines" [innerHtml]="question.summary | truncate:200"></p>

        <ul class="c-tag-list">
          <li class="c-tag-list__item" *ngFor="let tag of question.tags">
            <span class="c-tag">
              <span class="c-tag__label">{{ tag }}</span>
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container u-margin-top-7 u-text-align-center">
    <a routerLink="/faq" class="c-button">
      <span class="c-button__label">Doorzoek alle vragen</span>
    </a>

    <div class="c-callout">
      <p>Staat jouw vraag er niet tussen? <a href="mailto:info@citizenparliament.be">We beantwoorden hem graag voor jou en nemen hem hier
          op!</a></p>
    </div>

  </div>
  <figure class="u-margin-auto u-margin-top-7 u-max-width-2" aria-hidden="true">
    <img src="/assets/img/illustrations/root.png">
  </figure>
</div>
<div class="c-panel u-background-color-brown u-color-white">
  <div class="container u-max-width-7">
    <div class="c-logo-grid"><a class="c-logo" href="https://www.extinctionrebellion.be">
        <span class="u-visually-hidden">Extinction Rebellion Belgium</span>
        <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
          <use xlink:href="#logo-extinction-rebellion"></use>
        </svg>
      </a>
      <a class="c-logo" href="https://www.greenpeace.org/belgium">
        <span class="u-visually-hidden">Greenpeace</span>
        <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
          <use xlink:href="#logo-greenpeace"></use>
        </svg>
      </a>
    </div>

  </div>
</div>
