<!-- <section class="hero text-light text-center">
  <div class="container-sm">
    <div class="hero-inner">
      <h1 class="hero-title h2-mobile mt-0">{{ 'A national citizens parliament concerning the ecological emergencies' | translate }}</h1>
      <p class="hero-paragraph">
        {{ 'openingMessage' | translate }}
      </p>
      <p class="hero-cta"><a class="button-evelyn button-secondary button-shadow" routerLink="/deelnemen">Steun het
          initiatief</a></p>
      <div class="hero-media" id="het-concept">
        <video controls [poster]="currentVideo.poster" [src]="currentVideo.src" type="video/mp4" #videoPlayer>
          Sorry, your browser doesn't support embedded videos.
        </video>
          <div class="vid-carrousel" #videoCarrousel cdkScrollable>
            <div class="vid-prev" (click)="scrollLeft()"></div>
            <img class="vid-thumb" [src]="vid.poster" *ngFor="let vid of videos" (click)="playVid(vid)" />
            <div class="vid-next" (click)="scrollRight()"></div>
          </div>
      </div>
    </div>
  </div>
</section> -->

<div class="c-panel u-padding-top-0">
  <div class="container u-max-width-7 u-text-align-center">
    <h1 class="c-page-title">This is a <span class="u-color-teal">page title</span> with some <span
        class="u-color-orange-red">highlighted</span> words</h1>

    <p class="lead">This is a lead paragraph. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  </div>
</div>
<div class="c-panel u-background-color-gradient u-margin-top-9 u-padding-top-5">
  <figure class="c-video">
    <div class="c-video__viewport">
      <iframe width="100%" height="100%" src="https://vincentsels.be/ext/belgiancitizenparliament/video/maaike.mp4" frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </figure>

</div>
<div class="c-panel">
  <div class="c-video-reel">
    <a class="c-video-reel__item" href="#0">
      <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?fit=crop&amp;w=800&amp;h=450"
        alt="This is a description of the image">
    </a>
    <a class="c-video-reel__item" href="#0" data-video-playing="true">
      <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?fit=crop&amp;w=800&amp;h=450"
        alt="This is a description of the image">
    </a>
    <a class="c-video-reel__item" href="#0">
      <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?fit=crop&amp;w=800&amp;h=450"
        alt="This is a description of the image">
    </a>
    <a class="c-video-reel__item" href="#0">
      <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?fit=crop&amp;w=800&amp;h=450"
        alt="This is a description of the image">
    </a>
    <a class="c-video-reel__item" href="#0">
      <img src="https://images.unsplash.com/photo-1505682614136-0a12f9f7beea?fit=crop&amp;w=800&amp;h=450"
        alt="This is a description of the image">
    </a>
  </div>

  <ul class="c-tag-list c-tag-list--hashtags">
    <li class="c-tag-list__item">
      <a class="c-tag c-tag--hashtag" href="#0">
        <span class="c-tag__label">videamusanimi</span>
      </a>
    </li>
    <li class="c-tag-list__item">
      <a class="c-tag c-tag--hashtag" href="#0">
        <span class="c-tag__label">videamusanimi</span>
      </a>
    </li>
    <li class="c-tag-list__item">
      <a class="c-tag c-tag--hashtag" href="#0">
        <span class="c-tag__label">quamillaardentis</span>
      </a>
    </li>
  </ul>

</div>
<div class="c-panel u-background-color-pink">
  <div class="container u-max-width-8 u-text-align-center">
    <h2 class="h3">Email your representatives</h2>

    <div class="c-mailer">
      <div class="c-mailer__filters">
        <h2 class="h6">Who do you want to email?</h2>
        <p class="small">Use the filters and select as many politicians as you like.</p>
        <div class="c-filter-bar">
          <div class="c-form__field c-form__field--search c-filter-bar__field">
            <label class="c-form__field__label" for="filter-search">Search by name</label>
            <div class="c-form__input__wrapper" data-icon-entity="&#xf002;">
              <input class="c-form__input" id="search" type="text" placeholder="Search by name">
            </div>
          </div>

          <div class="c-form__field c-form__field--select c-filter-bar__field">
            <label class="c-form__field__label" for="filter-parliament">Parliament</label>
            <div class="c-form__input__wrapper" data-icon-entity="&#xf107;">
              <select class="c-form__input" id="filter-parliament">
                <option value="">Parliament</option>

                <option value="1">Federal</option>

                <option value="2">Brussels</option>

                <option value="3">Vlaanderen</option>

                <option value="4">Wallonia</option>

              </select>
            </div>
          </div>

          <div class="c-form__field c-form__field--select c-filter-bar__field">
            <label class="c-form__field__label" for="filter-constituency">Constituency</label>
            <div class="c-form__input__wrapper" data-icon-entity="&#xf107;">
              <select class="c-form__input" id="filter-constituency">
                <option value="">Constituency</option>

                <option value="1">Antwerpen</option>

                <option value="2">Brussels</option>

                <option value="3">Oost-Vlaanderen</option>

                <option value="4">West-Vlaanderen</option>

              </select>
            </div>
          </div>

          <div class="c-form__field c-form__field--select c-filter-bar__field">
            <label class="c-form__field__label" for="filter-party">Party</label>
            <div class="c-form__input__wrapper" data-icon-entity="&#xf107;">
              <select class="c-form__input" id="filter-party">
                <option value="">Party</option>

                <option value="1">CD&amp;V</option>

                <option value="2">DéFi</option>

                <option value="3">Ecolo</option>

                <option value="4">Groen</option>

                <option value="5">NVA</option>

                <option value="6">PvDA</option>

              </select>
            </div>
          </div>

        </div>

      </div>
      <div class="c-mailer__recipients">

        <div class="c-media-object c-media-object--person" data-selected="true">
          <figure class="c-avatar c-media-object__figure">
            <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
              alt="This is a description of the image">
          </figure>

          <div class="c-media-object__body">
            <h3 class="h6">Zakia Khattabi</h3>
            <dl class="c-list c-list--attributes">
              <dt class="c-list__term">Parliament</dt>
              <dd class="c-list__definition">Federal</dd>
              <dt class="c-list__term">Constituency</dt>
              <dd class="c-list__definition">Brussel</dd>
              <dt class="c-list__term">Party</dt>
              <dd class="c-list__definition">Groen</dd>
            </dl>
          </div>
        </div>

        <div class="c-media-object c-media-object--person">
          <figure class="c-avatar c-media-object__figure">
            <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
              alt="This is a description of the image">
          </figure>

          <div class="c-media-object__body">
            <h3 class="h6">Georges Dallemagne</h3>
            <dl class="c-list c-list--attributes">
              <dt class="c-list__term">Parliament</dt>
              <dd class="c-list__definition">Federal</dd>
              <dt class="c-list__term">Constituency</dt>
              <dd class="c-list__definition">Brussel</dd>
              <dt class="c-list__term">Party</dt>
              <dd class="c-list__definition">cdH</dd>
            </dl>
          </div>
        </div>

        <div class="c-media-object c-media-object--person" data-selected="true">
          <figure class="c-avatar c-media-object__figure">
            <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
              alt="This is a description of the image">
          </figure>

          <div class="c-media-object__body">
            <h3 class="h6">Philippe Pivin</h3>
            <dl class="c-list c-list--attributes">
              <dt class="c-list__term">Parliament</dt>
              <dd class="c-list__definition">Federal</dd>
              <dt class="c-list__term">Constituency</dt>
              <dd class="c-list__definition">Brussel</dd>
              <dt class="c-list__term">Party</dt>
              <dd class="c-list__definition">MR</dd>
            </dl>
          </div>
        </div>

        <div class="c-media-object c-media-object--person">
          <figure class="c-avatar c-media-object__figure">
            <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
              alt="This is a description of the image">
          </figure>

          <div class="c-media-object__body">
            <h3 class="h6">Ahmed Laaouej</h3>
            <dl class="c-list c-list--attributes">
              <dt class="c-list__term">Parliament</dt>
              <dd class="c-list__definition">Federal</dd>
              <dt class="c-list__term">Constituency</dt>
              <dd class="c-list__definition">Brussel</dd>
              <dt class="c-list__term">Party</dt>
              <dd class="c-list__definition">PS</dd>
            </dl>
          </div>
        </div>

        <div class="c-media-object c-media-object--person">
          <figure class="c-avatar c-media-object__figure">
            <img class="c-avatar__image" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?fit=crop&amp;w=400&amp;h=400"
              alt="This is a description of the image">
          </figure>

          <div class="c-media-object__body">
            <h3 class="h6">Sophie Rohonyi</h3>
            <dl class="c-list c-list--attributes">
              <dt class="c-list__term">Parliament</dt>
              <dd class="c-list__definition">Federal</dd>
              <dt class="c-list__term">Constituency</dt>
              <dd class="c-list__definition">Brussel</dd>
              <dt class="c-list__term">Party</dt>
              <dd class="c-list__definition">DéFI</dd>
            </dl>
          </div>
        </div>

      </div>
      <form class="c-form c-mailer__form">
        <fieldset class="c-form__section c-form__section--fieldset">
          <div class="c-form__field-group">
            <div class="c-form__field c-form__field--text">
              <label class="c-form__field__label" for="field-forename">First name(s)</label>
              <input class="c-form__input" type="text" id="field-forename">
            </div>
            <div class="c-form__field c-form__field--text">
              <label class="c-form__field__label" for="field-surname">Surname</label>
              <input class="c-form__input" type="text" id="field-surname">
            </div>
          </div>
          <div class="c-form__field c-form__field--text">
            <label class="c-form__field__label" for="field-email">Email</label>
            <input class="c-form__input" type="email" id="field-email">
            <ul class="c-form__errors">
              <li>Please enter a valid email address.</li>
            </ul>
          </div>
        </fieldset>
        <fieldset class="c-form__section c-form__section--fieldset">
          <div class="c-form__field c-form__field--text">
            <label class="c-form__field__label" for="field-subject">To</label>
            <ul class="c-list c-list--recipients">


              <li class="c-list__item"><span class="c-badge">Zakia Khattabi</span>
              </li>





              <li class="c-list__item"><span class="c-badge">Philippe Pivin</span>
              </li>






            </ul>
          </div>
          <div class="c-form__field c-form__field--select">
            <label class="c-form__field__label" for="field-subject">Subject</label>
            <div class="c-form__input__wrapper" data-icon-entity="&#xf107;">
              <select class="c-form__input" id="field-subject">
                <option value="">Please select</option>
                <option>This is a subject line</option>
                <option>This is another subject line</option>
                <option>This is a third subject line</option>
              </select>
            </div>
          </div>
          <div class="c-form__field c-form__field--textarea">
            <label class="c-form__field__label" for="field-body">Body</label>
            <span class="c-form__field__instruction">This is an instruction.</span>
            <textarea class="c-form__input"
              id="field-body">This is placeholder text. Nam his libris eum malo quam reliquo ornatu villae delectari. Aufert enim sensus actionemque tollit omnem. Vide, quaeso, rectumne sit. Duo Reges: constructio interrete. Quo tandem modo? Audeo dicere, inquit. Gerendus est mos, modo recte sentiat. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc.</textarea>
          </div>
        </fieldset>
        <div class="c-form__section c-form__section--actions">
          <div class="c-form__field c-form__field--options">
            <label class="u-visually-hidden">Checkbox</label>
            <div class="c-form__field-stack">
              <div class="c-form__field c-form__field--option">
                <input class="c-form__input" type="checkbox" id="field-consent" value="1">
                <label class="c-form__option__label" for="field-consent">This is a checkbox label. Quo invento omnis ab eo quasi.</label>
              </div>
            </div>
          </div>
          <button class="c-button">
            <span class="c-button__label">Submit</span>
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
<div class="c-panel u-background-color-teal u-color-white u-text-align-center">
  <div class="container">
    <h2 class="h3">This is a heading</h2>

  </div>
  <div class="container s-editor u-margin-top-6">
    <p class="lead">This is a lead paragraph. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
      ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

  </div>
  <div class="container u-margin-top-6">
    <button class="c-button">
      <span class="c-button__label">Read the memorandum</span>
    </button>

  </div>
</div>
<div class="c-panel">
  <div class="container s-editor u-text-align-center">
    <h2 class="h3">This is a heading</h2>

    <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
      auctor fringilla.</p>

  </div>
  <div class="grid grid--columns u-margin-top-7" data-column-count="2">
    <div class="grid__tracks">
      <div class="grid__cell">
        <div class="s-editor">
          <h3 class="h5"><a href="#0">Duo Reges: constructio interrete. Ait enim se, si uratur, Quam hoc suave! dicturum?</a></h3>
          <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
            auctor fringilla.</p>

        </div>
        <ul class="c-tag-list">
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Nam si propter</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Videamus animi</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Item de contrariis</span>
            </a>
          </li>
        </ul>

      </div>
      <div class="grid__cell">
        <div class="s-editor">
          <h3 class="h5"><a href="#0">Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</a></h3>
          <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
            auctor fringilla.</p>

        </div>
        <ul class="c-tag-list">
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Item de contrariis</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Etenim nec</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Item de contrariis</span>
            </a>
          </li>
        </ul>

      </div>
      <div class="grid__cell">
        <div class="s-editor">
          <h3 class="h5"><a href="#0">Quae ista amicitia est? Frater et T. Sed quanta sit alias, nunc tantum possitne?</a></h3>
          <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
            auctor fringilla.</p>

        </div>
        <ul class="c-tag-list">
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Item de contrariis</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Quam illa ardentis</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Etenim nec</span>
            </a>
          </li>
        </ul>

      </div>
      <div class="grid__cell">
        <div class="s-editor">
          <h3 class="h5"><a href="#0">Tantum possitne esse tanta. Facillimum id quidem est, inquam?</a></h3>
          <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
            auctor fringilla.</p>
        </div>

        <ul class="c-tag-list">
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Quam illa ardentis</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Quam illa ardentis</span>
            </a>
          </li>
          <li class="c-tag-list__item">
            <a class="c-tag" href="#0">
              <span class="c-tag__label">Quam illa ardentis</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="container u-margin-top-7 u-text-align-center">
    <button class="c-button">
      <span class="c-button__label">FAQs</span>
    </button>

    <p class="c-callout">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>

  </div>
</div>
<div class="c-panel u-background-color-brown u-color-white">
  <div class="container u-max-width-7">
    <div class="c-logo-grid">
      <a class="c-logo" target="_blank" href="https://www.extinctionrebellion.be">
        <span class="u-visually-hidden">Extinction Rebellion Belgium</span>
        <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
          <use xlink:href="#logo-extinction-rebellion"></use>
        </svg>
      </a>
      <a class="c-logo" target="_blank" href="https://www.greenpeace.org/belgium">
        <span class="u-visually-hidden">Greenpeace</span>
        <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
          <use xlink:href="#logo-greenpeace"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
