<div class="c-panel u-padding-top-0">
  <div class="container u-max-width-7 u-text-align-center">
    <h1 class="c-page-title" [innerHtml]="'mainTitle' | translate"></h1>

    <p class="lead">{{ 'mainSubtitle' | translate }}</p>
  </div>
</div>

<div class="c-panel u-background-color-gradient u-overflow-top">
  <figure class="c-video">
    <div class="c-video__viewport">
      <video controls [poster]="currentVideo.poster" type="video/mp4" #videoPlayer
        [src]="currentVideo.src">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </figure>

  <div class="vid-title">
    <div class="vid-title-name">{{ currentVideo.name }}</div>
    <div class="vid-title-function">{{ currentVideo.title }}</div>
  </div>

  <div class="c-video-reel" #videoCarrousel cdkScrollable>
    <a *ngFor="let vid of videos[lang]" class="c-video-reel__item" [routerLink]="" (click)="playVid(vid)">
      <img [src]="vid.preview" [alt]="vid.alt">
    </a>
  </div>

</div>

<div class="c-panel u-background-color-lemon u-text-align-center">
  <div class="grid grid--columns" data-column-count="2">
    <div class="grid__tracks">


      <div class="grid__cell s-editor">
        <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
          <img src="/assets/img/illustrations/jellyfish.png">
        </figure>
        <h2 class="h6" [innerHtml]="'explainerTitle1' | translate"></h2>

        <p [innerHtml]="'explainerText1' | translate"></p>
      </div>

      <div class="grid__cell s-editor">
        <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
          <img src="/assets/img/illustrations/gramophone.png">
        </figure>
        <h2 class="h6" [innerHtml]="'explainerTitle2' | translate"></h2>

        <p [innerHtml]="'explainerText2' | translate"></p>
      </div>

      <div class="grid__cell s-editor">
        <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
          <img src="/assets/img/illustrations/diversity.png">
        </figure>
        <h2 class="h6" [innerHtml]="'explainerTitle3' | translate"></h2>

        <p [innerHtml]="'explainerText3' | translate"></p>
      </div>

      <div class="grid__cell s-editor">
        <figure class="u-max-height-2 u-max-width-2" aria-hidden="true">
          <img src="/assets/img/illustrations/owl.png">
        </figure>
        <h2 class="h6" [innerHtml]="'explainerTitle4' | translate"></h2>

        <p [innerHtml]="'explainerText4' | translate"></p>
      </div>

    </div>
  </div>
  <div class="container u-margin-top-7 u-text-align-center">
    <button class="c-button" [routerLink]="languageService.route('proposal') | async">
      <span class="c-button__label">{{ 'readTheProposal' | translate }}</span>
    </button>

  </div>
</div>

<app-inlinemail id="mail"></app-inlinemail>

<div class="c-panel u-background-color-gradient u-color-white">

  <div class="grid grid--columns" data-column-count="3" *ngIf="lang === 'nl'">
    <div class="grid__tracks">
      <div class="c-tweet">
        <p class="c-tweet__body">
          <a target="_blank" href="https://www.twitter.com/alexanderdecroo">@alexanderdecroo</a> meer burgerparticipatie en ambitieus milieubeleid combineren? Richt een <a target="_blank" href="https://www.twitter.com/hashtag/burgerparlement">#burgerparlement</a> op en laat gelote burgers, gesteund door experten, oplossingen zoeken voor de grootste uitdaging van onze tijd. <a target="_blank" href="https://www.twitter.com/burgerparlement">@burgerparlement</a> https://bit.ly/3dCoPNL
        </p>
        <a class="c-button c-tweet__button" target="_blank" href="https://twitter.com/intent/tweet?url=&text=%40alexanderdecroo%20meer%20burgerparticipatie%20en%20ambitieus%20milieubeleid%20combineren%3F%20Richt%20een%20%23burgerparlement%20op%20en%20laat%20gelote%20burgers%2C%20gesteund%20door%20experten%2C%20oplossingen%20zoeken%20voor%20de%20grootste%20uitdaging%20van%20onze%20tijd.%20%40burgerparlement%20https%3A%2F%2Fbit.ly%2F3dCoPNL">
          <span class="c-button__label">{{ 'tweetThis' | translate }}</span>
        </a>
      </div>

      <div class="c-tweet">
        <p class="c-tweet__body">
          <a target="_blank" href="https://www.twitter.com/TinneVdS">@TinneVdS</a> 60% CO2-reductie tegen 2030, kerncentrales dicht, elektrificatie wagenpark, geen prijsstijging... hoe spelen we dat klaar? Volg voorbeeld Frankrijk en VK en richt een #burgerparlement op. Laat gelote burgers mee aan het woord! <a target="_blank" href="https://www.twitter.com/burgerparlement">@burgerparlement</a> https://bit.ly/3dCoPNL
        </p>
        <a class="c-button c-tweet__button" target="_blank" href="https://twitter.com/intent/tweet?url=&text=%40TinneVdS%2060%25%20CO2-reductie%20tegen%202030%2C%20kerncentrales%20dicht%2C%20elektrificatie%20wagenpark%2C%20geen%20prijsstijging...%20hoe%20spelen%20we%20dat%20klaar%3F%20Volg%20voorbeeld%20Frankrijk%20en%20VK%20en%20richt%20een%20%23burgerparlement%20op.%20Laat%20gelote%20burgers%20mee%20aan%20het%20woord!%20%40burgerparlement%20https%3A%2F%2Fbit.ly%2F3dCoPNL">
          <span class="c-button__label">{{ 'tweetThis' | translate }}</span>
        </a>
      </div>

      <div class="c-tweet">
        <p class="c-tweet__body">
          Schrijf zelf een tweet aan onze premier <a target="_blank" href="https://www.twitter.com/alexanderdecroo">Alexander De Croo</a> en ministers van energie <a target="_blank" href="https://www.twitter.com/TinneVdS">Tinne Vand der Straten</a>, klimaat en leefmilieu <a target="_blank" href="https://twitter.com/khattabizakia">Zakia Khattabi</a>, kansengelijkheid <a target="_blank" href="https://twitter.com/sarahschlitz">Sarah Schiltz</a> of ambtenarenzaken <a target="_blank" href="https://twitter.com/pdsutter">Petra De Sutter</a>! <a target="_blank" href="https://www.twitter.com/burgerparlement">@burgerparlement</a> https://bit.ly/3dCoPNL
        </p>
        <a class="c-button c-tweet__button" target="_blank" href="https://twitter.com/intent/tweet?url=&text=%40alexanderdecroo%20%40TinneVdS%20%40khattabizakia%20%40sarahschlitz%20%40pdsutter%20Tijd%20voor%20een%20%23burgerparlement!%20%40burgerparlement%20https%3A%2F%2Fbit.ly%2F3dCoPNL">
          <span class="c-button__label">{{ 'tweetThis' | translate }}</span>
        </a>
      </div>
    </div>
  </div>

  <div [class]="lang === 'nl' ? 'c-icon-group h6 u-margin-top-7' : 'c-icon-group h6 u-margin-top-3'">
    <span class="c-icon-group__label">{{ 'followOurCampaign' | translate }}</span>
    <a class="c-icon" target="_blank"
      [href]="lang === 'nl' ? 'https://facebook.com/hetburgerparlement' : 'https://facebook.com/LeParlementCitoyen'" data-icon-entity="">
      <span class="u-visually-hidden">Facebook</span>
    </a>
    <a class="c-icon" target="_blank" [href]="lang === 'nl' ? 'https://twitter.com/burgerparlement' : 'https://twitter.com/ParlementCito'"
      data-icon-entity="">
      <span class="u-visually-hidden">Twitter</span>
    </a>
    <a *ngIf="lang !== 'nl'" class="c-icon" target="_blank" href="https://instagram.com/LeParlementCitoyen" data-icon-entity="">
      <span class="u-visually-hidden">Instagram</span>
    </a>
    <a class="c-icon" target="_blank" href="https://t.me/citizensparliament" data-icon-entity="&#xf2c6;">
      <span class="u-visually-hidden">Telegram</span>
    </a>
    <!-- <a class="c-icon" target="_blank" [href]="lang === 'nl' ? 'https://instagram.com/hetburgerparlement' : 'https://instagram.com/LeParlementCitoyen'" data-icon-entity="">
      <span class="u-visually-hidden">Instagram</span>
    </a> -->
  </div>
</div>

<div class="c-panel">
  <div class="container s-editor u-text-align-center">
    <h2 class="h3" innerHtml="{{ 'faqTitle' | translate }}"></h2>
    <p>{{ 'manyQuestions' | translate }}</p>
  </div>

  <div class="grid grid--columns u-margin-top-7" data-column-count="2">
    <div class="grid__tracks">
      <div class="grid__cell s-editor u-text-align-center" *ngFor="let question of questions; let i = index;">
        <figure class="u-max-width-1" aria-hidden="true">
          <img [src]="imgs[i]">
        </figure>
        <h3 class="h5"><a [routerLink]="languageService.route('question', question.slug) | async" [innerHtml]="question.question"></a>
        </h3>
        <p class="keep-newlines" [innerHtml]="question.summary | truncate:200"></p>
      </div>
    </div>
  </div>

  <div class="container u-margin-top-7 u-text-align-center">
    <a routerLink="/faq" class="c-button">
      <span class="c-button__label">{{ 'searchThroughAllQuestions' | translate }}</span>
    </a>

    <!-- <div class="c-callout">
      <p><strong>{{ 'yourQuestionNotHere' | translate }} </strong> <a
          [routerLink]="languageService.route('about') | async">{{ 'sendUsAMail' | translate }}</a></p>
    </div> -->

  </div>
  <figure class="u-margin-auto u-margin-top-7 u-max-width-3" aria-hidden="true">
    <img src="/assets/img/illustrations/flag.png">
  </figure>
</div>

<div class="c-panel u-background-color-brown u-color-white">
  <div class="c-logo-grid">

    <a class="c-logo" href="https://www.extinctionrebellion.be">
      <span class="u-visually-hidden">Extinction Rebellion Belgium</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-extinction-rebellion"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.greenpeace.be">
      <span class="u-visually-hidden">Greenpeace</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-greenpeace"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.grootoudersvoorhetklimaat.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-grootouders-voor-het-klimaat.png" alt="Grootouders voor het klimaat">
    </a>

    <a class="c-logo" href="https://www.hartbovenhard.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-hart-boven-hard.png" alt="Hart Boven Hard">
    </a>

    <a class="c-logo" href="https://www.klimaatzaak.eu">
      <span class="u-visually-hidden">Klimaatzaak</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-klimaatzaak"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.oikos.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-oikos.png" alt="Oikos">
    </a>

    <a class="c-logo" href="https://www.oxfam.be">
      <span class="u-visually-hidden">Oxfam</span>
      <svg class="c-logo__image" viewBox="0 0 120 40" role="img" aria-hidden="true">
        <use xlink:href="#logo-oxfam"></use>
      </svg>
    </a>

    <a class="c-logo" href="https://www.youth4climate.be">
      <img class="c-logo__image" src="/assets/img/logos/logo-youth-for-climate.png" alt="Youth For Climate">
    </a>
  </div>
</div>
