<div class="c-panel u-background-color-pink u-margin-top-9 u-padding-top-5">
  <div class="container s-editor u-text-align-center">
    <figure class="u-margin-top-minus-9 u-max-width-2" aria-hidden="true">
      <img src="/assets/img/illustrations/letter-wings.png">
    </figure>
    <h3>{{ 'contactYourRepresentativesTitle' | translate }}</h3>

    <p>{{ 'contactYourRepresentativesText' | translate }}</p>

    <button class="c-button" routerLink="/" fragment="mail">
      <span class="c-button__label">{{ 'contactYourRepresentativesParticipate' | translate }}</span>
    </button>
  </div>
</div>
