<header class="c-site-header" id="site-header"><a class="c-logo" routerLink="/">
    <span class="u-visually-hidden">{{ 'title' | translate }}</span>
    <svg class="c-logo__image" viewBox="0 0 400 360" role="img" aria-hidden="true">
      <use *ngIf="lang !== 'fr'" xlink:href="#logo-nl-colour"></use>
      <use *ngIf="lang === 'fr'" xlink:href="#logo-fr-colour"></use>
    </svg>
  </a>
  <nav class="c-nav" aria-label="Navigation">
    <ul class="c-nav__list">
      <li class="c-nav__item">
        <a class="c-nav__button" routerLink="/" fragment="mail">{{ 'Take part' | translate }}</a>
      </li>
      <li class="c-nav__item">
        <a [routerLink]="languageService.route('proposal') | async">{{ 'The proposal' | translate }}</a>
      </li>
      <li class="c-nav__item">
        <a routerLink="/faq">{{ 'FAQ' | translate }}</a>
      </li>
      <li class="c-nav__item">
        <a [routerLink]="languageService.route('about') | async">{{ 'About us' | translate }}</a>
      </li>
    </ul>
  </nav>
  <div class="c-language-switch">
    <button class="c-button c-language-switch__button" (click)="toggleLanguageMenu()"
      [attr.aria-expanded]="languageMenuVisible" attr.aria-controls="language-switch">
      <span class="c-button__label" style="text-transform: uppercase;">{{ lang }}</span>
    </button>
    <ul class="c-language-switch__menu" id="language-switch" [attr.aria-hidden]="!languageMenuVisible"
      *ngIf="languageMenuVisible">
      <li class="c-language-switch__menu__item" *ngIf="lang !== 'en'">
        <a lang="en" [routerLink]="" (click)="setLanguage('en'); toggleLanguageMenu()">English (EN)</a>
      </li>
      <li class="c-language-switch__menu__item" *ngIf="lang !== 'fr'">
        <a lang="fr" [routerLink]="" (click)="setLanguage('fr'); toggleLanguageMenu()">Français (FR)</a>
      </li>
      <li class="c-language-switch__menu__item" *ngIf="lang !== 'nl'">
        <a lang="nl" [routerLink]="" (click)="setLanguage('nl'); toggleLanguageMenu()">Nederlands (NL)</a>
      </li>
      <!-- <li class="c-language-switch__menu__item" *ngIf="lang !== 'fr'">
        <a lang="fr" href="https://www.leparlementcitoyen.be">Français (FR)</a>
      </li>
      <li class="c-language-switch__menu__item" *ngIf="lang !== 'nl'">
        <a lang="nl" href="https://www.hetburgerparlement.be">Nederlands (NL)</a>
      </li> -->
    </ul>
  </div>
</header>

<!--
            <a *ngIf="lang !== 'fr'" href="https://www.leparlementcitoyen.be" style="padding-left: 8px; padding-right: 8px;">FR</a>
            <a *ngIf="lang !== 'nl'" href="https://www.hetburgerparlement.be" style="padding-left: 8px; padding-right: 8px;">NL</a>
            <a *ngIf="lang !== 'en'" [routerLink]="" (click)="setLanguage('en')" style="padding-left: 8px; padding-right: 8px;">EN</a>
 -->

<main id="main">
  <router-outlet></router-outlet>
</main>

<footer class="c-site-footer" id="site-footer">
  <div class="grid">
    <div class="grid__tracks">
      <div class="grid__cell">
        <nav class="c-nav" aria-label="Navigation">
          <ul class="c-nav__list">
            <li class="c-nav__item">
              <a class="c-nav__button" routerLink="/" fragment="mail">{{ 'Take part' | translate }}</a>
            </li>
            <li class="c-nav__item">
              <a [routerLink]="languageService.route('proposal') | async">{{ 'The proposal' | translate }}</a>
            </li>
            <li class="c-nav__item">
              <a routerLink="/faq">{{ 'FAQ' | translate }}</a>
            </li>
            <li class="c-nav__item">
              <a [routerLink]="languageService.route('about') | async">{{ 'About us' | translate }}</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="grid__cell">
        <div class="c-icon-group">
          <a class="c-icon" target="_blank" [href]="lang === 'nl' ? 'https://facebook.com/hetburgerparlement' : 'https://facebook.com/LeParlementCitoyen'" data-icon-entity="&#xf09a;">
            <span class="u-visually-hidden">Facebook</span>
          </a>
          <a class="c-icon" target="_blank" [href]="lang === 'nl' ? 'https://twitter.com/burgerparlement' : 'https://twitter.com/ParlementCito'" data-icon-entity="&#xf099;">
            <span class="u-visually-hidden">Twitter</span>
          </a>
          <!-- <a class="c-icon" target="_blank" [href]="lang === 'nl' ? 'https://instagram.com/hetburgerparlement' : 'https://instagram.com/LeParlementCitoyen'" data-icon-entity="&#xf16d;">
            <span class="u-visually-hidden">Instagram</span>
          </a> -->
          <a *ngIf="lang !== 'nl'" class="c-icon" target="_blank" href="https://instagram.com/LeParlementCitoyen" data-icon-entity="&#xf16d;">
            <span class="u-visually-hidden">Instagram</span>
          </a>
        </div>
      </div>

      <div class="grid__cell">
        <a class="c-logo" routerLink="/">
          <span class="u-visually-hidden">{{ 'title' | translate }}</span>
          <svg class="c-logo__image" viewBox="0 0 400 360" role="img" aria-hidden="true">
            <use *ngIf="lang !== 'fr'" xlink:href="#logo-nl-mono"></use>
            <use *ngIf="lang === 'fr'" xlink:href="#logo-fr-mono"></use>
          </svg>
        </a>
      </div>

      <div class="grid__cell">
        <p>{{ 'footerMain' | translate }} <a [routerLink]="languageService.route('about') | async">{{ 'manyOthers' | translate }}</a>.</p>

        <p class="small" [innerHtml]="'footerSmall' | translate"></p>

        <p class="small">{{ 'illustrationsBy' | translate }} Mary Autumn</p>
    </div>
    </div>
  </div>
</footer>

<app-svg-logos></app-svg-logos>
