<main id="main">
  <div class="c-panel u-background-color-blue-powder">
    <div class="container">
      <app-question [question]="question"></app-question>
    </div>
  </div>

  <div class="c-panel">
    <div class="container">
      <h3>{{ 'Check out these other questions' | translate }}...</h3>

      <div class="question-container" *ngFor="let question of randomQuestions">
        <app-question [question]="question"></app-question>
      </div>
    </div>
  </div>

  <p class="c-callout">
    {{ 'Check out' | translate }} <a routerLink="/faq">{{ 'all questions' | translate }}</a> on our FAQ page!
  </p>

  <div class="c-panel u-background-color-blue-gradient u-color-white">
    <div class="container s-editor u-text-align-center">
      <h3>This is a heading</h3>

      <p>This is a standard paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
        auctor fringilla.</p>

      <button class="c-button">
        <span class="c-button__label">Take part</span>
      </button>

    </div>
  </div>
</main>
