<div class="c-panel u-background-color-blue-powder">
  <div class="container">
    <app-question [question]="question"></app-question>
  </div>
</div>

<div class="c-panel">
  <div class="container">
    <h2 class="h4 u-margin-top-6" style="text-transform: capitalize;">{{ 'Maybe you were also wondering' | translate }}...</h2>
    <ul class="c-list c-list--questions u-margin-top-5">
      <li *ngFor="let question of randomQuestions"><a [routerLink]="languageService.route('question', question.slug) | async">{{ question.question }}</a></li>
    </ul>

    <div class="c-callout u-margin-top-6">
      <p>{{ 'Check out' | translate }} <a routerLink="/faq">{{ 'all questions' | translate }}</a> on our FAQ page!</p>
    </div>
  </div>
</div>

<app-participate></app-participate>
