/**
 * +-----------------------+
 * |    |        |      |##|
 * |-----------------------|
 * |      |    |     |#####|
 * +-----------------------+
 */

%cluster {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -#{$gutter-width};
  margin-bottom: calc(var(--gutter-width, #{$gutter-width}) * -1);
  margin-left: -#{$gutter-width};
  margin-left: calc(var(--gutter-width, #{$gutter-width}) * -1);

  > * {
    margin-bottom: $gutter-width;
    margin-bottom: var(--gutter-width, #{$gutter-width});
    margin-left: $gutter-width;
    margin-left: var(--gutter-width, #{$gutter-width});
  }
}
