.c-logo-grid {
  @extend %cluster;
  --gutter-width: #{map-get($spacing-units, '6')};
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($width-units, '6');

  .c-logo {
    flex-basis: calc(#{percentage(1/4)} - #{$gutter-width});
    flex-basis: calc((100% / var(--logo-grid-columns, 4)) - var(--gutter-width, #{$gutter-width}));
    flex-grow: 1;
    flex-shrink: 0;
    min-width: ($spacing-unit * 7.5);
    width: 100%;
  }

  * + &,
  & + * {
    margin-top: map-get($spacing-units, '8');
  }
}
