/*ul*/.c-nav__list {
  @extend %cluster;
  align-items: center;
  font-size: font-unit('small');
  font-weight: map-get($font-weights, 'medium');
  list-style: none;
}

/*li*/.c-nav__item a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;

    @include feature-query('text-underline-offset') {
      text-decoration-thickness: 0.125em;
      text-underline-offset: 0.25em;
    }
  }
}

/*a*/.c-nav__button {
  @include feature-query('mask-image') {
    background-color: map-get($colors, 'pink');
    display: block;
    line-height: 4;
    mask-image: url("data:image/svg+xml,%0A%3Csvg width='100' height='45' viewBox='0 0 100 45' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.1042 44.9654C50.7953 43.8877 33.9116 43.5285 17.2435 41.445C5.82015 40.0799 0.0725274 33.1828 0.000682112 24.4895C-0.0711632 15.7962 5.53277 9.402 16.6688 6.67188C40.9525 0.780566 65.7391 -0.800064 90.5976 0.34946C93.3995 0.49315 97.5666 4.3728 98.5005 7.31846C104.895 27.1478 90.1665 44.7498 67.1042 44.9654Z'/%3E%3C/svg%3E%0A");
    mask-position: 50%;
    mask-repeat: no-repeat;
    mask-size: 100% 75%;
    max-width: 15ch;
    overflow: hidden;
    padding: 0 1.5em;
    white-space: nowrap;
    width: 100%;

    &:hover,
    &:focus {
      background-color: map-get($colors, 'orange-red');
      color: map-get($colors, 'white');
    }
  }
}
