/*ul*/.c-nav__list {
  @extend %cluster;
  align-items: center;
  font-size: font-unit('small');
  font-weight: map-get($font-weights, 'medium');
  list-style: none;
}

/*li*/.c-nav__item a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;

    @include feature-query('text-underline-offset') {
      text-decoration-thickness: 0.125em;
      text-underline-offset: 0.25em;
    }
  }
}

/*a*/.c-nav__button {
  @include media-query('max:040') {
    position: relative;

    &:before {
      background-color: map-get($colors, 'lemon');
      content: '';
      height: 2em;
      left: 0;
      mask-image: url("data:image/svg+xml,%3Csvg width='100' height='97' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5083 96.0174C6.66728 96.1905 0.521347 90.5639 0.348221 77.493C0.0885326 62.0848 -0.430836 46.59 0.69448 31.2684C1.56011 19.2362 5.54197 10.9262 19.7383 4.69366C36.2718 -2.49105 49.7756 -0.759815 63.7987 5.38614C80.6785 12.8305 91.1526 27.4597 97.9045 44.0797C104.224 59.5745 95.827 75.3289 78.4278 78.272C61.8078 81.042 46.3996 85.7164 31.7705 93.5936C28.2214 95.498 23.8067 95.6711 22.5083 96.0174Z'/%3E%3C/svg%3E%0A");
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      position: absolute;
      top: 50%;
      transform: translate(-25%, -50%);
      width: 2em;
      z-index: map-get($z-indexes, 'below');
    }
  }

  @include media-query('min:040') {
    @include feature-query('mask-image') {
      background-color: map-get($colors, 'pink');
      display: block;
      line-height: 4;
      mask-image: url("data:image/svg+xml,%0A%3Csvg width='100' height='45' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.1042 44.9654C50.7953 43.8877 33.9116 43.5285 17.2435 41.445C5.82015 40.0799 0.0725274 33.1828 0.000682112 24.4895C-0.0711632 15.7962 5.53277 9.402 16.6688 6.67188C40.9525 0.780566 65.7391 -0.800064 90.5976 0.34946C93.3995 0.49315 97.5666 4.3728 98.5005 7.31846C104.895 27.1478 90.1665 44.7498 67.1042 44.9654Z'/%3E%3C/svg%3E%0A");
      mask-position: 50%;
      mask-repeat: no-repeat;
      mask-size: 100% 75%;
      max-width: 15ch;
      overflow: hidden;
      padding: 0 1.5em;
      white-space: nowrap;
      width: 100%;

      &:hover,
      &:focus {
        background-color: map-get($colors, 'orange-red');
        color: map-get($colors, 'white');
      }
    }
  }
}
