.c-video {
  background-color: map-get($colors, 'blue-yale');
  margin-left: auto;
  margin-right: auto;
  margin-top: -#{map-get($spacing-units, '9')};
  max-width: map-get($width-units, '5');
  padding: map-get($spacing-units, '5');

  @include media-query('max:060') {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.c-video__viewport {
  @include aspect-ratio(16, 9);
  background-color: #000;
}
