.c-language-switch {
  font-size: font-unit('small');
  position: relative;
}

/*.c-button*/.c-language-switch__button {
  background-color: map-get($colors, 'pink');
  color: map-get($colors, 'black');
  display: flex;
  flex-flow: row nowrap;
  line-height: inherit;
  padding: 0.5em;

  @include feature-query('mask-image') {
    mask-image: url("data:image/svg+xml,%3Csvg width='100' height='97' viewBox='0 0 100 97' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5083 96.0174C6.66728 96.1905 0.521347 90.5639 0.348221 77.493C0.0885326 62.0848 -0.430836 46.59 0.69448 31.2684C1.56011 19.2362 5.54197 10.9262 19.7383 4.69366C36.2718 -2.49105 49.7756 -0.759815 63.7987 5.38614C80.6785 12.8305 91.1526 27.4597 97.9045 44.0797C104.224 59.5745 95.827 75.3289 78.4278 78.272C61.8078 81.042 46.3996 85.7164 31.7705 93.5936C28.2214 95.498 23.8067 95.6711 22.5083 96.0174Z'/%3E%3C/svg%3E%0A");
    mask-position: 50%;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    padding-right: 1em;
  }

  &[aria-expanded="true"],
  &:hover,
  &:focus {
    background-color: map-get($colors, 'lemon');
    color: map-get($colors, 'black');
  }

  &:after {
    content: '\f107';
    font-family: $font-family-icon;
    font-weight: map-get($font-weights, 'black');
    margin-left: 0.5em;
  }

  &[aria-expanded="true"]:after {
    content: '\f106';
  }
}

/*ul*/.c-language-switch__menu {
  background-color: map-get($colors, 'lemon');
  list-style: none;
  padding: map-get($spacing-units, '5');
  position: absolute;
  right: 0;
  text-align: center;
  top: 100%;
  z-index: map-get($z-indexes, 'dropdown');

  @include feature-query('mask-image') {
    mask-image: url("data:image/svg+xml,%3Csvg width='100' height='96' viewBox='0 0 100 96' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.8647 93.6881C17.9094 91.8672 6.81013 83.8028 2.04089 68.1944C-2.81506 52.3259 0.913612 37.4979 14.094 28.3063C25.6269 20.242 39.9346 15.9063 53.1151 10.3566C61.5262 6.80136 70.4577 4.28668 78.9556 0.81815C86.8465 -2.39024 98.4661 4.19996 97.7724 14.2587C96.385 33.8559 97.3389 52.8462 99.8535 72.3567C101.501 84.9301 89.0144 94.4686 74.1864 95.5959C69.4172 95.9427 69.5 96 59.7052 95.6825C47 95 37.4225 94.1238 33.8647 93.6881Z'/%3E%3C/svg%3E%0A");
    mask-position: 50%;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    padding: map-get($spacing-units, '6');
    padding-right: map-get($spacing-units, '5');
    padding-top: map-get($spacing-units, '7');
  }

  &[aria-hidden="true"] {
    display: none !important;
  }
}

/*li*/.c-language-switch__menu__item {
  white-space: nowrap;

  a[aria-current="page"] {
    cursor: default;
    font-weight: map-get($font-weights, 'bold');
    pointer-events: none;
    text-decoration: none;
  }
}
