.c-icon-group {
  @extend %cluster;
  --gutter-width: #{map-get($spacing-units, '2')};
  align-items: center;
  font-size: font-unit('h5');
  justify-content: center;
}

.c-icon-group__label {
  font-weight: map-get($font-weights, 'medium');

  @include media-query('max:040') {
    flex-basis: 100%;
    text-align: center;
  }

  @include media-query('min:040') {
    margin-right: 1em;
  }
}
