<div class="mp-card" [class.unavailable]="!mp.email" (click)="changeSelection()" [class.selected]="mp.selected">
  <mat-checkbox class="mp-cb" name="selected" [(ngModel)]="mp.selected"></mat-checkbox>
  <div class="mp-img"><img [src]="cdnBaseUrl + '/mps/' + mp.localImg" onerror="this.src='/assets/img/anonymous.jpg'" /></div>
  <div class="mp-info">
    <strong class="name">{{ mp.firstName }} {{ mp.lastName }}</strong>
    <div class="info">
      <div class="info-parliament"><span class="info-label">{{ 'Parlement' | translate }}: </span>{{ mp.parliament | translate }}</div>
      <div class="info-party"><span class="info-label">{{ 'Party' | translate }}: </span>{{ mp.party | translate }}</div>
      <div class="info-hometown" *ngIf="mp.hometown"><span class="info-label">{{ 'Hometown' | translate }}: </span>{{ mp.hometown }}</div>
      <div class="info-city" *ngIf="mp.city"><span class="info-label">{{ 'City' | translate }}: </span>{{ mp.city }}</div>
      <div class="info-constituency" *ngIf="mp.constituency"><span class="info-label">{{ 'Constituency' | translate }}: </span>{{ mp.constituency | translate }}</div>
      <div class="info-email" *ngIf="!mp.email" style="font-style: italic;">{{ 'No email' | translate }}</div>
    </div>
  </div>
</div>
